[2014-07-08 00:05] u8sand opened #1 "- Stuff Todo -"
General Issues
----
- [x] Dim desktop
  - [x] Window doesn't fill the screen on Ubuntu.
  - [x] Window covers screen on Windows.

Windows Specific Issues
----
- [ ] mpv's status message overlay is not shown (probably because we're missing lua)
- [x] @godly-devotion Quick Open button's image is kinda cropped out (doesn't happen with the playlist button).

Features
----
- [x] Mark the currently play

[2014-07-10 02:16] u8sand opened #2 "Application Settings"
Create a portable way to save settings of Baka MPlayer. This includes a Setting Dialog, and perhaps an .ini file that is loaded and saved on load and on exit. This will be done through SettingsManager class derived from QSettings. Not only application specific settings but also mpv specific settings.

[2014-07-10 02:19] u8sand opened #3 "Functional Playlist"
Make the playlist functional, either design it the way mpv manages playlist with mpv's playlist support or without, or make it the way the old Baka MPlayer handled the playlist.

At least make the playlist useful (a list of files passed, double click to play file, add to playlist etc..)

This will be done via a PlaylistManager class which inherits the QListWidget on the form.

[2014-07-10 02:22] u8sand opened #4 "Custom Input Commands"
Command-line capabilities as in the old Baka MPlayer, which can send commands to mpv or baka-mplayer. Will also be used for future features.

[2014-07-10 02:24] u8sand opened #5 "Media Management"
Support for selecting audio/video/subtitle tracks as well as external subtitles; chapter support and media information.

[2014-07-10 02:26] u8sand opened #6 "Snapshots and Playback"
Snapshot support; perhaps use mpv's snapshot commands.
Snapshots with/without subtitles (S | s) hotkeys.
Save snapshots in application specified location.

[2014-07-10 02:29] u8sand opened #7 "Static Compilation for Windows"
Get Baka-MPlayer compiled for windows (for our original user-base); we'd like a stand-alone application--just the Executable and the generated accompanying .ini file for settings.

[2014-07-10 02:32] u8sand opened #8 "Help and About"
Information for the user about us and the project as well as a user manual.

Dialogs are done; just need a user manual.

[2014-07-10 02:38] u8sand opened #9 "Hotkeys for everything"
Like the old Baka MPlayer there should be a hotkey to do everything. Perhaps we will apply mpv key-bindings according to user-specified settings OR we will make certain hotkeys fire the signals to send commands to mpv. Preferably allowing mpv to handle everything except baka mplayer specific hotkeys.

[2014-08-03 03:41] #6 closed, assigned to nobody

[2014-08-03 03:41] #3 closed, assigned to u8sand

[2014-08-03 03:44] u8sand opened #10 "Fix Strange Mpv Call Bug"
Basically when opening files (through the Playlist), we have ~1/5 chance that the file will NOT open.

Debugging shows that the string is indeed passed to the signal and even make it to mpv->OpenFile, for whatever reason though the file does not begin playback.

What's known about the bug is it is caused by PlaylistManager.

[2014-08-03 03:47] u8sand opened #11 "Update Support"
Add update support as in original Baka MPlayer; will check on the website for version information and direct user to the new update.

Update Support Features:
- Error-proof:
  - No/unstable internet
  - Closed in the middle of a download? (should restart where it left off if the update is the same)
- Allow user to enable/disable automatic updating
- Configuration versioning
- On Linux, it should t

[2014-08-03 21:45] #8 closed, assigned to itsjoshpark

[2014-08-06 03:00] #10 closed, assigned to u8sand

[2014-08-14 23:53] #5 closed, assigned to nobody

[2014-08-17 21:14] #9 closed, assigned to nobody

[2014-09-02 03:16] #2 closed, assigned to nobody

[2014-09-02 20:42] itsjoshpark opened #12 "Dim Light's turns off if mainwindow is moved"
**Location**: https://github.com/u8sand/Baka-MPlayer/blob/f462e9230f5887acb96e84438102ba3ec6d6894f/src/ui/mainwindow.cpp#L751

**Reason**: focusWindow will be 0 if anything is clicked outside of our program which is useful. The only other problem is that when dragging by the top handle it will be 0 resulting in lights going off, this is a side effect which will have to stay for now.

[2014-09-05 14:51] godly-devotion opened #14 "Add Travis CI Support"
Travis allows us to see if the current build successfully compiles or not. It also has a build history so we can see at what point exactly that the builds fails to compile.

http://docs.travis-ci.com

Edit: At the time of this writing, Travis is using Ubuntu 12.04 LTS, which does not have all the Qt5 files we need for it to compile successfully. For now, the files related to Travis has been moved

[2014-09-06 19:04] starks opened #15 "IRC channel"
Was wondering if anyone would be interested in setting up one on Freenode. Don't want to jump the gun and do it myself.

Primary aim would be to facilitate communication on issue #7.

Not much of a coder, but I do I have a very nice Arch setup with a full mxe toolchain ready to do any QA.

[2014-09-06 21:51] #15 closed, assigned to nobody

[2014-09-07 15:52] itsjoshpark opened #16 "We need to redesign our site"
I designed the original website back in powerpoint...this was before I started using Illustrator...
http://bakamplayer.u8sand.net

[2014-09-13 02:19] #16 closed, assigned to nobody

[2014-09-14 00:40] godly-devotion opened #17 "Integrate our own online video stream support"
As you might know, **mpv** has removed support for playing Youtube and etc. This was because the library they used--libquvi--was buggy and is not being actively maintained properly.
[Livestreamer](http://livestreamer.readthedocs.org/en/latest/) is a command line utility (seems to have API) that can pipe the video stream into **mpv**.
Being able to play Youtube videos and etc will definitely be use

[2014-09-30 14:00] Meru opened #18 "Make a 2-digits chapter numbers in menu"
Will be cool if chapters will start from 01 instead of 1. The way it is now it looks a bit ugly if there are more than 9 chapters.

[2014-09-30 15:04] #18 closed, assigned to u8sand

[2014-10-04 23:25] fotsisk opened #19 "Appmenu bug - menubar is set to visible even if shouldn't be."
If you use setVisible() on menubar, you should check that menubar was visible in the first place.
It creates wrong behaviour (menubar will be forced to be visible) if menubar wasn't visible at start (appmenu).

fix to 1.9.9 (git may be slighty diffrent)
http://pastebin.com/V7N3XyBS

Sorry for my english.

[2014-10-05 14:29] #19 closed, assigned to u8sand

[2014-10-21 15:38] u8sand opened #20 "Merging mpv_settings"
The problem is my negligence of putting version info into the settings file earlier.

Settings updating goes a lot smoother if there is version information in the settings file.

Though the master branch has this fix the release branch does not. When I merge mpv_settings and perhaps release it then people with the old version MAY lose their settings. Two possible ways around this:
1. Next release

[2014-10-28 20:32] #20 closed, assigned to nobody

[2014-10-28 20:34] #11 closed, assigned to nobody

[2014-11-03 22:01] jmdavis opened #21 "Make the keybindings configurable"
With mpv-proper, it's possible to configure the keybindings via ~/.config/mpv/input.conf (at least on Linux) and remap most of the keys as well as add bindings for keys that don't have bindings. However, baka-mplayer is currently unable to inherit that from the mpv config files and does not provide that functionality on its own. The default input.conf file for mpv can be found [here](https://githu

[2014-11-03 22:17] jmdavis opened #22 "List of recently viewed files"
It would be great if one of the menu items in baka-mplayer had a list of recently viewed files (presumably with the most recent at the top and least recent at the bottom) so that it's easy to find and reopen files that you viewed recently but didn't finish (or like to review frequently). IIRC, vlc and smplayer both default to 10 files, though it would be great if it were configurable. I'd probably

[2014-11-04 02:40] #12 closed, assigned to nobody

[2014-11-07 13:58] suhr opened #23 "Black file dialog is super ugly"
**PLEASE** make something to avoid it. Settings dialog is also ugly.

[2014-11-07 14:01] suhr opened #24 "Right click menu"
Show menu on right click on the video.

[2014-11-07 14:06] suhr opened #25 "User interface tries to be recursive"
Screenshot: https://img.bi/#/5pDwmjM!AYTebopq3jYWWP395Gjml6xfOFPRIP9PafD2MwYf

(actually it just don't see that i3wm keep window in fullscreen. But it should!)

[2014-11-07 14:10] suhr opened #26 "Alt-Enter hotkey doesn't work with right Alt"
With left Alt it should also unfullscreen the player, but it doesn't.

[2014-11-07 22:20] #24 closed, assigned to nobody

[2014-11-08 02:37] #25 closed, assigned to nobody

[2014-11-08 10:42] sbw983 opened #27 "error when install Baka on ubuntu"
Hello
when i try to install baka-mplayer on ubuntu 14.04 x86-64 i get this error msg:

[ 86%] Building CXX object src/CMakeFiles/mainwindow.dir/ui/mainwindow.cpp.o
cd /home/sbw983/Tools/Media/Baka-Mplayer/Baka-MPlayer/build/src && /usr/bin/c++   -DBAKA_MPLAYER_VERSION=\"1.9.9\" -DQT_CORE_LIB -DQT_GUI_LIB -DQT_NETWORK_LIB -DQT_NO_DEBUG -DQT_SVG_LIB -DQT_WIDGETS_LIB -DQT_X11EXTRAS_LIB -DSETTINGS_FIL

[2014-11-10 08:42] my-life-is-confetti-zz opened #28 "Build 1.5.0 x86_64 Windows: Everytime I load a .flac file for playback, I get an error dialog..."
![image](https://cloud.githubusercontent.com/assets/8801348/4973058/822afa7c-68b5-11e4-87e5-bfc073d4024f.png)

This is the error dialog window I am seeing without deviation for every instance of opening a .flac format auido file via the method "File" > "Open File" > (browse to file location in File Manager, aka Windows Explorer) > select .flac format audio file for Playback > click pre-hilighted "

[2014-11-10 09:32] my-life-is-confetti-zz opened #29 ".flv files known to play with standalone mpv with full video and audio do not play in 1.5.0 build of x86_64 target for Windows"
Hi,

tested out a .flv video that plays perfectly in mpv player standalone, and it plays only audio with black (blank) video in this version/build of Baka-MPlayer. FYI. I'm including a Screencap of MediaInfo on the file for debugging purposes so you guys can see the codecs involved.

I got this little error message again:

![image](https://cloud.githubusercontent.com/assets/8801348/4973642/ea7257a

[2014-11-10 09:37] my-life-is-confetti-zz opened #30 "Weird Error Log I got with Windows Target build 1.5.0 x86_64"
Could this be the root of my problems???

TEXT COPY:

Baka MPlayer Error Info
Version: 1.5.0

Generated (UTC): 11/10/2014 09:33:52
OSVersion: Microsoft Windows NT 6.1.7601 Service Pack 1
Is64BitOperatingSystem: True
Is64BitProcess: n/a

Message: Object reference not set to an instance of an object.
Stack Trace:
   at PortableSettingsProvider.SetValue(SettingsPropertyValue propVal)
   at PortableSe

[2014-11-10 09:43] my-life-is-confetti-zz opened #31 "Another format, .m4v plays in mpv-player, but has blank (black) video in Baka-MPlayer 1.5.0 Windows x86_64 Target"
I wish this wasn't the case, but I'm going to go through all my video formats and report the nonplayables to the Issue Tracker (for better or worse). Hopefully I am THE ONLY ONE experiencing these technical difficulties, and they can be ruled out as a quirk on my system, and the program and build are OKAY.

Here is the MediaInfo on the .m4v movie:

![image](https://cloud.githubusercontent.com/asse

[2014-11-10 09:48] my-life-is-confetti-zz opened #32 ".mov files also play audio but blank (black) screen..."
Now too familiar error message:

![image](https://cloud.githubusercontent.com/assets/8801348/4973894/86f4022c-687b-11e4-9a80-f41e9780b3f0.png)

MediaInfo for the Video:

![image](https://cloud.githubusercontent.com/assets/8801348/4973957/b802dafa-687b-11e4-932d-c2352a408f79.png)

Also got an error log.txt file:

![image](https://cloud.githubusercontent.com/assets/8801348/4973984/fab53ac8-687b-11e4

[2014-11-10 09:57] my-life-is-confetti-zz opened #33 ".mp4 videos also play audio but display a blank (black) screen on build 1.5.0 on Windows x86_64 Target"
![image](https://cloud.githubusercontent.com/assets/8801348/4974057/707c465c-687c-11e4-80fe-7157a4d8e590.png)

Blank/black screen

ALL TOO FAMILIAR error message:

![image](https://cloud.githubusercontent.com/assets/8801348/4974061/8a9e4cba-687c-11e4-991d-ebcad72a21ca.png)

MediaInfo Output:

![image](https://cloud.githubusercontent.com/assets/8801348/4974090/d0057170-687c-11e4-8b13-537a3bb8bb0a.p

[2014-11-10 10:03] my-life-is-confetti-zz opened #34 ".wmv files also play with audio but blank (black) video on build 1.5.0 on the Windows x86_64 Target"
![image](https://cloud.githubusercontent.com/assets/8801348/4974144/436110a2-687d-11e4-9c22-c272c7a19710.png)

Black/Blank screen

Too familiar "uh oh" popup error dialog...

![image](https://cloud.githubusercontent.com/assets/8801348/4974148/614e2294-687d-11e4-8c0d-984962773625.png)

MediaInfo Output:

![image](https://cloud.githubusercontent.com/assets/8801348/4974167/a1be0a38-687d-11e4-9a19-bfe

[2014-11-10 11:00] my-life-is-confetti-zz opened #35 "RE: 1.5.0 Windows x86_64 Target"
After uninstalling, and trying out the 1.5.0 x86 Windows Target from Softpedia's Mirror location, I can happily report that the beforementioned Issue Reports I submitted RE: Video formats playing audio, but black/blank screen seem to be contained to the x86_64 Target release for Windows, and not something that affects the 1.5.0 release on the x86 Target release as well. I would reccomend Windows u

[2014-11-10 14:38] #28 closed, assigned to itsjoshpark

[2014-11-10 14:38] #29 closed, assigned to itsjoshpark

[2014-11-10 14:38] #30 closed, assigned to itsjoshpark

[2014-11-10 14:38] #31 closed, assigned to itsjoshpark

[2014-11-10 14:38] #32 closed, assigned to itsjoshpark

[2014-11-10 14:38] #33 closed, assigned to itsjoshpark

[2014-11-10 14:38] #34 closed, assigned to itsjoshpark

[2014-11-10 14:38] #35 closed, assigned to itsjoshpark

[2014-11-11 17:03] my-life-is-confetti-zz opened #36 "Windows x86_64 Target gives error if launched from a Shortcut"
Baka MPlayer will throw this message window:

![image](https://cloud.githubusercontent.com/assets/8801348/4997181/6db3ce26-6981-11e4-8fdf-3d71fcacb20b.png)

if you launch the program from a Shortcut of the .exe you place on the Windows Desktop or anywhere else.

[2014-11-11 17:21] my-life-is-confetti-zz opened #37 "For the Windows x86_64 Target the Baka MPlayer.settings file needs to be deleted between sessions..."
![image](https://cloud.githubusercontent.com/assets/8801348/4997452/e4cbbd0a-6983-11e4-9013-1af284c59fcb.png)

Unfortunately it seems this file: Baka MPlayer/Baka MPlayer.settings needs to be deleted between playback sessions. Some kind of corruption of the settings file going on???

[2014-11-11 20:39] #23 closed, assigned to nobody

[2014-11-13 14:30] suhr opened #38 "I created a ebuild for Baka MPlayer"
Subj: https://github.com/suhr/badumz/tree/master/media-video/baka-mplayer

[2014-11-14 23:02] #27 closed, assigned to nobody

[2014-11-15 02:28] #38 closed, assigned to nobody

[2014-11-15 17:34] #37 closed, assigned to itsjoshpark

[2014-11-15 17:34] #36 closed, assigned to itsjoshpark

[2014-11-25 01:41] #22 closed, assigned to u8sand

[2014-11-29 01:47] my-life-is-confetti-zz opened #39 "Keybinding Interface should be graphical in nature."
Dependent on issue #21

Once keybindings are settled/set up for Baka-MPlayer, The interface for selecting and setting the keybindings should be graphical in nature, i.e. should utilize a GUI, not a text .ini file to set the properties of the keybindings.

Why? It is more straightforward in a video application to expect settings to have Graphical Dialog Interfaces rather than needing to open a text

[2014-11-29 03:56] epitron opened #40 ""Search Playlist" should be case-insensitive"
Hi there!

First off, Baka is great! I'm really enjoying it. Clean UI, fast, light, it supports HTTPS streaming; it's quite elegant.

I just noticed a little snag: the playlist's search field is currently case-sensitive. (The version I'm using is a git checkout from last night.) I'm sure it's just an oversight. :)

Thanks for a great video player!

[2014-11-29 05:36] #40 closed, assigned to nobody

[2014-12-03 02:17] mc4man opened #42 "Re: .desktop"
Not sure if there is any intention of baka-mplayer being available from context menu, if so the Exec= line should end with  %a letter  (in gnome3 env
Possibles would be U,u,F,f
Ex.
Exec=baka-mplayer %U

[2014-12-03 04:20] #42 closed, assigned to nobody

[2014-12-03 15:29] amazingfate opened #43 "most keys lost in opensuse"
as the picture shows
![4](https://cloud.githubusercontent.com/assets/5022901/5282772/0159af3c-7b44-11e4-8c4b-f46ca25ff728.png)

[2014-12-03 22:20] #39 closed, assigned to nobody

[2014-12-04 01:43] #43 closed, assigned to nobody

[2014-12-06 05:07] u8sand opened #44 "SVGs potentially problematic"
Note:
![lmfao](https://cloud.githubusercontent.com/assets/1341861/5326247/c424c126-7cdb-11e4-8d37-748b0dda6724.png)

This is most likely linuxmint/nemo's fault but perhaps we can fix it somehow?

[2014-12-07 01:25] #44 closed, assigned to nobody

[2014-12-09 19:17] #4 closed, assigned to u8sand

[2014-12-09 21:12] mc4man opened #45 "qmake builds on Launchpad"
I wouldn't mind making baka-mplayer builds avail. for ubuntu 14.04 & higher but see an issue I can't figure out.
If using cmake then the builds are successful, whether the 2.0 release or the current git switched back to a cmake build.
However if doing current git with qmake it always fails to find libmpv-dev.  - ex.
make[1]: Entering directory '/build/buildd/baka-mplayer-2.0.0'
sh make.sh
Project

[2014-12-09 23:50] itsjoshpark opened #46 "- Looking for Translators -"
As the title suggests, we are looking for translators who can help out (no need to know programming or Qt, although it could help).

If you'd like to help out, check out here (https://github.com/u8sand/Baka-MPlayer/blob/master/etc/doc/baka-mplayer.md#to-add-a-new-translation). If you need more help, please leave a comment here or on irc, and we'll help you get started.
Any suggestions to improve o

[2014-12-10 03:02] #45 closed, assigned to nobody

[2014-12-10 08:36] amazingfate opened #47 "mpv still remains in the kmix(KDE's volume controller) after closing baka-mplayer by closing its window"
![34](https://cloud.githubusercontent.com/assets/5022901/5372844/3f1b6d42-808a-11e4-8aa9-c31378818e44.png)
If baka-mplayer is closed by ctrl+q, it doesn't have this problem.

[2014-12-12 00:36] #7 closed, assigned to nobody

[2014-12-17 15:12] #26 closed, assigned to nobody

[2014-12-17 23:43] u8sand opened #51 "Create a Wiki for Documentation"
The baka-mplayer.md documentation file doesn't seem to be the best idea. It's about time we create the Wiki (using github is fine) for documentation.

For maximal portability we'll be trying to keep the documentation file nonetheless.

[2014-12-17 23:45] #47 closed, assigned to u8sand

[2014-12-17 23:48] u8sand opened #52 "Custom settings handling"
QSettings finds more ways to annoy me every time I try to use it to do something new. Very soon we'll most likely want to create our own settings handler.

Because I like the current format it will stay it's just the parser that will change--should allow us to use certain symbols that QSettings didn't let us use (or clobbered). This is becoming very evident in the custom-keybindings branch where A

[2014-12-23 22:05] #51 closed, assigned to nobody

[2014-12-24 01:34] amazingfate opened #54 "change qmake in make.sh into qmake-qt5"
In my system there are both qmake(qt4) and qmake-qt5, qmake use the one in qt4 and the build can not be done, so I suggest to change it.

[2014-12-24 01:38] #54 closed, assigned to nobody

[2014-12-24 07:08] amazingfate opened #55 "suggest not building with translation embedded"
To get the translations work we have to set the LANG when we just start building it and embed the translation into the baka-mplayer. It works well if I build it on my own system for my own use, but if I want to distribute it with rpm or deb to people in different countries, it is not a good solution.
I suggest to set the translations in the "make install" process.

[2014-12-25 00:17] mc4man opened #56 "fails to build"
Same issue whether just using make.sh directly or using debian/rules
Ex. on latest git master

 ~/Desktop/baka/src/Baka-MPlayer$ ./make.sh
./make.sh: 3: [: unexpected operator
Configuring...
./make.sh: 26: ./make.sh: src/Baka-MPlayer.pro: Permission denied
Compiling baka-mplayer...
make: **\* No targets specified and no makefile found.  Stop.

Substituting the previous make.sh works ok

[2014-12-27 19:24] #55 closed, assigned to u8sand

[2014-12-27 19:25] #56 closed, assigned to nobody

[2014-12-29 09:08] ConundrumAdInfinitum opened #58 "Usability Enhancement Request: Active Edge for Playlist while in Fullscreen Mode"
Hello,

I think the new Stable Release for Windows is very nice, Thank You!

I would like to make an Enhancement Request.

I think it makes sense for the UI to have an Active Edge for the Playlist on the Right Hand Edge to be Dynamic while the App is in Fullscreen Mode just like the Bottom Edge is Dynamic with regard to the mouse/cursor hovering to the edge of the screen to show/hide (expose) the

[2015-01-01 12:20] amazingfate opened #60 "can't play files in the root directory of a disk on windows"
I rebooted to windows today and found that baka-mplayer started with a cmd window.
When I opened a file in the root directory of a disk like E:\\[106].rmvb, nothing happened. If I move it into a directory under E it will be played well.
![default](https://cloud.githubusercontent.com/assets/5022901/5592149/853c019a-91f3-11e4-8e17-93aa6530510c.PNG)

[2015-01-01 15:15] luigino opened #63 "Missing translations"
For some reason the strings in the playlist pop-up menu (e.g. "Delete from Disk") aren't translated even if linguist says otherwise.

Also the "open file" requester isn't either, but perhaps that's another issue?

[2015-01-01 22:51] u8sand commented on #63
I'm pretty sure this is a result of my dynamic translations; I'll look into fixing it.

[2015-01-01 22:57] u8sand commented on #60
Yeah the command window is a nuisance which should solve itself in due time.

I don't have much of a clue as to WHY this is happening; I will have to setup a dev environment on windows to debug. In the meantime--could you open the developer debugging console then try and open the file (which doesn't open) and post the output here. But I think I disabled the debugging messages on the release versio

[2015-01-02 01:07] ConundrumAdInfinitum commented on #60
Where is the developer debugging console?

On Thu, Jan 1, 2015 at 2:57 PM, Daniel Clarke <notifications@github.com>
wrote:

[2015-01-02 01:08] ConundrumAdInfinitum commented on #60
I'm on Windows... Wondered if I could help...

On Thu, Jan 1, 2015 at 5:07 PM, Leo H <lch.three@gmail.com> wrote:

[2015-01-02 02:59] #60 closed

[2015-01-02 03:30] u8sand commented on #63
I'm not entirely sure what you're referring to here.

[2015-01-02 04:23] amazingfate commented on #63
Maybe this window
![48](https://cloud.githubusercontent.com/assets/5022901/5594175/27d09250-927a-11e4-9fba-8f85572a3aaf.png)

[2015-01-02 04:25] u8sand commented on #63
@amazingfate O.o I see; that window is generated by Qt so that's strange. I'll look into it

[2015-01-02 04:36] amazingfate opened #66 "can't build with CONFIG+=install_translations"
There is "CONFIG += c++11 link_pkgconfig embed_translations" in Baka-MPlayer.pro which causes a conflict.
Maybe we can abandon the option of "install_translations"?

[2015-01-02 04:37] u8sand commented on #66
My mistake, sometimes I add that for debugging purposes

[2015-01-02 04:42] #66 closed

[2015-01-02 04:45] u8sand commented on #63
You may note: https://github.com/u8sand/Baka-MPlayer/blob/master/src/ui/mainwindow.cpp#L78-L84
This is seemingly the solution (http://stackoverflow.com/questions/8906944/qfiledialog-localization).

However it doesn't work on my system, trying to figure out why not (as I do have qt translations in my /usr/share/qt/translations directory.

[2015-01-02 06:18] amazingfate commented on #63
The Chinese translation from qt can't be loaded but other language can be loaded. I found the Chinese translation file is /usr/share/qt5/translations/qt_zh_CN.qm. Maybe this is the problem?

[2015-01-02 08:38] luigino commented on #63
I see that is the case also for other apps. I suppose the distinction is necessary to differentiate between Mandarin/Cantonese and simplified/traditional.

Although every locale supports that, in theory.

[2015-01-02 15:50] u8sand commented on #63
Oh! So this is why @amazingfate made that change.

[2015-01-02 18:23] u8sand commented on #63
From what I understand this is also solved with the latest changes.

[2015-01-02 18:23] #63 closed

[2015-01-02 19:40] #58 closed

[2015-01-02 19:40] u8sand commented on #58
If you want settings for both please request in another issue.

[2015-01-03 00:48] mc4man commented on #1
It would be nice it the fullscreen controls where 'floating' rather than what is is now, ie the typical fs controller

[2015-01-03 03:41] godly-devotion commented on #1
@mc4man: Not exactly sure what you mean. Could you elaborate?

[2015-01-03 03:59] mc4man commented on #1
Typically in players when in fullscreen & cursor movement the control bar 'floats' over the vid. At least here the bar becomes part of the vid & causes a resize.

fullscreen, no controller bar -
![screenshot from 2015-01-02 22 46 56](https://cloud.githubusercontent.com/assets/5961561/5601529/eed3d67a-92d2-11e4-95ab-dc6d975615a8.png)

fullscreen with controller bar -
![screenshot from 2015-01-02 22

[2015-01-03 04:04] u8sand commented on #1
@mc4man This does happen and is intended. What we're not understanding is what you mean by "float over" if it just floats it'll block the video no?

[2015-01-03 04:17] mc4man commented on #1
Well yeah, it would block or semi-block the small area it occupies while visible. Some player like vlc it's a bit translucent. From that perspective users expose the bar to use it so the fact it's there doesn't much matter
But you guys have a vision as to what you want so no big deal, just have never seen that before which doesn't necessarily mean it's bad.., just different.

[2015-01-03 05:24] amazingfate opened #71 "cursor of mouse in searchbox"
When I open a file the cursor of mouse is in the searchbox of the playlist which is not convenient.
I have to click out of the searchbox before I seek with left or right.

[2015-01-03 13:04] godly-devotion commented on #71
Don't worry, your not the only one who thought  that was annoying. Fixed via f41738e

[2015-01-03 13:04] #71 closed

[2015-01-03 13:12] amazingfate commented on #71
My mistake. I forgot to rebuild.

[2015-01-03 14:14] godly-devotion commented on #1
@mc4man @u8sand Well I'm going to delete these comments, if you want to further discuss this, please create a new issue. Thanks.

[2015-01-04 20:55] #52 closed

[2015-01-05 04:02] #17 closed

[2015-01-06 18:29] u8sand opened #74 "Compile for windows without console"
Though this should be very simple--I've spent much too long to no avail. If someone has any clue as to what might be the problem please share.

I've tried #mingw and #qt and searching through the internet. Here are some solutions that DON'T work.

- Adding `-mwindows` to linker flags
- Adding ` -Wl,-subsystem,windows`
- Adding (as suggested by http://blog.debao.me/2013/07/link-confilict-between-sd

[2015-01-07 03:16] godly-devotion opened #75 "Auto update on Windows"
Using a temporary batch file to update the main executable is one way.
1. First download and store executable with a different name (ex. `Baka MPlayer.exe.new`).
2. Create batch file that will close all instances of `Baka MPlayer` and replace it with the newly downloaded version.
3. Delete batch file (batch file can delete itself).

youtube-dl has a good example.
https://github.com/rg3/youtube-dl/

[2015-01-10 03:59] u8sand opened #76 "Refractor the playlist"
The code is inefficient and ugly; it has issue as well. Fix it.

[2015-01-12 13:46] amazingfate commented on #74
this seems to be the problem of mingw.
shall we try msvs to build the windows release?

[2015-01-13 14:21] u8sand commented on #74
If someone can get that to work. I had a very difficult time just getting mingw to work harhar.

Another thing to try is to get it to work with the Microsoft compilers. The difficulty there however is compiling all the mpv dependencies (and mpv) on it too.

[2015-01-15 03:33] #21 closed

[2015-01-15 03:56] amazingfate commented on #74
As it is said in http://blog.debao.me/2013/07/link-confilict-between-sdl-and-qt-under-windows/, this is a problem caused by "Link Confilict Between SDL and Qt", and SDL.h is included.
If I only use "CONFIG += windows", it failed to build with error:

/home/liujianfeng/baka-win/mxe.x86_64/usr/x86_64-w64-mingw32.static/lib/../lib/libSDLmain.a(SDL_win32_main.o): In function `console_main':
/home/liuj

[2015-01-15 13:51] u8sand commented on #74
As stated in my post--i've seen and tried those things. I was
unsuccessful--if you can figure out a way it'd be enormously appreciated.

We need both SDL and Qt--both want to provide their own mains so you don't
need WinMain.  I've tried various mascaraded #defines to get this to work
to no avail.
On Jan 14, 2015 10:56 PM, "Jianfeng Liu" <notifications@github.com> wrote:

[2015-01-15 16:59] amazingfate commented on #74
@u8sand if I add
[code]
to the main.cpp, it can be loaded only if I add
[code]
to the .pro file.
It seems that
[code]
just prevent to use sdl.

[2015-01-16 14:14] amazingfate opened #79 "autofit with "%""
if I press ```alt+1``` it shows ```Fit Window: autofit%```

[2015-01-16 14:44] amazingfate opened #81 "a progress bar of mpv appears when seek with button left or right"
as the picture shows:
![2](https://cloud.githubusercontent.com/assets/5022901/5777835/0578f988-9dd1-11e4-9b03-e095abfbff66.png)

[2015-01-16 16:19] u8sand commented on #81
This is really weird and annoying--gonna have to ask mpv devs

[2015-01-16 16:53] #79 closed

[2015-01-16 16:53] #81 closed

[2015-01-16 17:15] amazingfate opened #82 "can not increase sub size with ctrl++"
but I can decrease it with ctrl+-

[2015-01-17 14:56] u8sand commented on #82
@amazingfate I can just fine. Perhaps look in your settings file and make sure there is no entry masquerading it in [input]

[2015-01-18 12:30] amazingfate commented on #82
it should be the problem of mpv
the output of mpv:
[code]
I should input "ctrl + shift + =" because in my the board = and + are the same key

[2015-01-18 12:30] #82 closed

[2015-01-18 13:12] amazingfate opened #84 "advise to build windows release using MSYS2"
Stuck in the issue of console window for a long time, I tried to change mxe to MSYS2, which is a tool under windows. I've built a version of baka-mplayer with dynamic link libraries, which is opened without console window. It seems to be the problem of qt5 built in mxe. MSYS2 uses pacman to manage the packages and we can just use command ```pacman -S qt5-static``` to install the static qt5. Other

[2015-01-18 19:23] u8sand commented on #84
Yes, you have to build all static dependencies when building statically.  The problem might be that your msys doesn't have qt linguist  (lupdate / lrelease commands).  You may also notice that lupdate and lrelease are specified on ./configure in the bakamplayer.sh script.

[2015-01-20 05:24] amazingfate commented on #84
@u8sand I knew why the translations didn't work:
command  ```echo \'<RCC><qresource prefix=\"/\">\' > translations.qrc``` got the error: ```bash: syntax error near unexpected token `<'```
then it shows system can not find file

[2015-01-20 13:41] u8sand commented on #84
I can't imagine why but anyway you can probably just comment the line out and keep the current translations.qrc  (though you won't be able to automagically select which translations, it'll just be all)

[2015-01-20 14:19] amazingfate commented on #84
I tried that but seemed not working. The errors disappeared but still came out with no translations.
Full log is here: http://paste.ubuntu.com/9794644/

[2015-01-20 14:31] u8sand commented on #84
the issue seems to be BAKA_MPLAYER_LANG_PATH. The compile line says
something about unrecognized \m where nothing of the sort should be there.
perhaps you need to add a define into the source code  for embedded the
path is:

:/translations
On Jan 20, 2015 9:19 AM, "Jianfeng Liu" <notifications@github.com> wrote:

[2015-01-20 17:19] amazingfate commented on #84
BAKA_MPLAYER_LANG_PATH isdefined later in the .pro file
[code]
there is something wrong with ```\\\"$$BAKA_LANG_PATH\\\""```

[2015-01-20 18:11] u8sand commented on #84
Indeed--but only on your platform. If i change it to work on your platform it most likely will not work on mine.  To mitigate this I recommend having a source file where you define things..

    system("cat > defines.h << EOF
    #define BAKA_MPLAYER_VERSION $$VERSION
    #define SETTINGS_FILE $$SETTINGS_FILE
    #define BAKA_MPLAYER_LANG_PATH $$BAKA_LANG_PATH
    EOF")

    #include "defines.h" /

[2015-01-20 18:12] #76 closed

[2015-01-20 18:16] u8sand commented on #1
Do this in workflowwy

[2015-01-20 18:16] #1 closed

[2015-01-21 05:00] amazingfate commented on #84
my mistake, I should use ```mingw32-make``` to build it, and now the translations are back.
but now I can't build it with the last commit: http://paste.ubuntu.com/9801754/

[2015-01-21 14:04] u8sand commented on #84
@amazingfate preferencesdialog was changed but I haven't gotten to coding it. will-do in a bit.

[2015-01-24 21:10] mc4man opened #86 "Fails to open with latest libmpv"
With libmpv from mpv 0.7.2 release source baka was fine. Now with more recent mpv source or latest master mpv source  baka fails to open - message in terminal,
$ baka-mplayer
Non-C locale detected. This is not supported.
Call 'setlocale(LC_NUMERIC, "C");' in your code.
terminate called after throwing an instance of 'char const*'

(- if LC_ALL=C is first exported or a env LC_ALL=C baka-mplayer is u

[2015-01-24 21:34] #86 closed

[2015-01-25 03:08] #75 closed

[2015-01-28 20:38] maimteve opened #88 "Windows and Subtitles:"
Windows 7
64 bit

2.0.2 - External .srt subtitle files will not display . Internal subtitle files work.
1.5 - All subtitles work.

These subtitles work in mainline mpv and other programs as well.

[2015-01-29 01:47] u8sand commented on #88
@maimteve this is a bug related to fontconfig that we have yet to solve for Windows.  Subtitles which define their fonts explicitly should work correctly.  In the near future we will patch this, sorry for any inconveniences in the meantime.

[2015-01-29 01:49] u8sand commented on #84
By the way, does this also solve #88? That-is can we see mpv overlay text produced by `mpv shot_text "Test"`?

[2015-01-29 04:21] amazingfate commented on #84
@u8sand .srt subtitle files also don't work

[2015-01-31 23:43] muzena opened #91 "Segmentation fault"
When I start video file, Baka-Mplayer is crash and in terminal I get Segmentation fault message.
I have Linux Mint 17.1 64 bit.

[2015-01-31 23:54] muzena commented on #46
No, no muzena, write gogo

[2015-02-01 01:27] u8sand commented on #91
@muzena We'll have to narrow your problem down a little better.
A few things to try:
- does the video work with just mpv? what is your mpv version?
- could you provide the output of `ldd baka-mplayer`

[2015-02-01 01:52] muzena commented on #91
mpv works in Smplayer.
I have mpv from these repositories:
https://launchpad.net/~mc3man/+archive/ubuntu/trusty-media
https://launchpad.net/~mc3man/+archive/ubuntu/libmpv1
ldd baka-mplayer output:
http://pastie.org/9877198

[2015-02-01 02:03] u8sand commented on #91
@muzena I see.. unfortunately this didn't narrow it down as well as I wanted. You seem to have all the necessary dependencies and nothing really seems to be out of date.

Let's try `strace -o trace baka-mplayer`; try to play a video (inducing the segfault). Then put the output as a pastie. (in the file trace)

[2015-02-01 09:44] jmdavis commented on #22
This is awesome. Thanks!

[2015-02-01 21:55] muzena commented on #91
Baka-Mplayer starts normally, then when I select video file I get segmentation fault message in terminal:

mint@linux ~ $ strace -o trace baka-mplayer
Segmentation fault
mint@linux ~ $

[2015-02-01 22:14] u8sand commented on #91
Correct; now the file `trace` has the output you should put on pastie.
On Feb 1, 2015 4:55 PM, "gogogogi" <notifications@github.com> wrote:

[2015-02-01 22:48] muzena commented on #91
trace file is to big for pastie.
MEGA link:
https://mega.co.nz/#!TplG3Lwb!xzaXGadGVgUVJ0px3hGijAzyDan8sGt-5G9nnV0uJAM

[2015-02-04 03:37] u8sand commented on #91
@muzena because diagnosing the problem has proved futile. I decided to obtain Linux Mint system myself. I've successfully built a working version of baka-mplayer, soon I will provide you with the relevant package, hopefully solving your issues.

[2015-02-04 22:55] muzena commented on #91
OK, thanks!

[2015-02-04 23:39] maimteve commented on #88
I would recommend placing this as the top priority to fix.  It's the main reason I'm not recommending bakamplayer to new users. Once it's fixed I will.

I don't recommend stand alone mpv to new users either, since it's too different for them and they'll just be confused. They need something like bakamplayer that acts as a more traditional media player.

[2015-02-04 23:47] maimteve opened #92 "Name"
I've seen some opposition to the name "baka-MPlayer". Some think this means the player is just for anime. Others find the name nerdy and cringy. It's similar opposition that I've found to the "Kawaii Codec Pack". People won't use it simply because they hate anime. Never underestimate the immaturity of nerds.

There should be a new name, one which is not anime themed.

[2015-02-05 03:11] u8sand commented on #92
I have no particular attachment to the name; I would be very keen on receiving some suggestions for a new name which appeals to everyone.

A Gnome is a pagan Alchemist--I don't believe that has chased away people with religious beliefs from using Gnome.
Google is a number--I don't believe that has chased away people who aren't nerds/deal with numbers.

My point is a name is a name--I find it ridic

[2015-02-05 06:00] DesuDesuDesuDesu commented on #92
baka! the name's totally subarashii and sugoi desu.

[2015-02-05 17:40] godly-devotion commented on #92
Either way I have a new name in mind. However I may change it if I find a better name.

[2015-02-06 20:03] ConundrumAdInfinitum commented on #92
A couple of simple names ideas that may fit could be:

Reel (as it pertains to movies shown with a reel of film)

Screen or Screentime (as it pertains to sitting down and taking in a movie from a projection source on a projection screen)

Couldn't help throwing a couple of suggestions out there for you, I'm kind-of a word-nerd.

Zoom (as it is based on an optical lens term, also relates to fast an

[2015-02-06 20:14] ConundrumAdInfinitum commented on #92
Apologies on suggesting Zoom, apparently in-use by In matrix.com for a video player product already.

Screen, Screentime/ScreenTime, Reel and ReelTime, are however, not in use currently.

ReelTime is kind of cute, as it implies what the purpose of the app is for (if this was the new name); watching movies, and what you'd be doing while using it: watching movies... Because it's "reel time".

[2015-02-07 02:11] godly-devotion commented on #88
@maimteve Rest assured we are actively looking for a solution. However the problem is a bit harder than expected. In the meantime, you can use pre-`v2.0` Baka MPlayer which should have no problems.

[2015-02-07 02:13] godly-devotion commented on #92
@ConundrumAdInfinitum I like the direction in where the names are going. However ReelTime sounds a bit similar to the god-awful RealPlayer. Also in the future, we are planning to add social interaction support (ie. comments), and are thinking of gearing the name towards that idea.

[2015-02-07 04:36] u8sand commented on #91
@muzena btw if you're interested in compiling it yourself, my scripts should prove useful for you.

https://github.com/u8sand/Baka-MPlayer/tree/master/etc/sbin/linux

I'll get you a compiled .deb this weekend. Do you use a 32 or 64 bit OS?

[2015-02-07 04:43] ConundrumAdInfinitum commented on #92
So, something more along the lines of CinemaRundown or CinemaSuggest?

Sent from my T-Mobile 4G LTE Device

<div>-------- Original message --------</div><div>From: Joshua Park <notifications@github.com> </div><div>Date:02/06/2015  6:13 PM  (GMT-08:00) </div><div>To: u8sand/Baka-MPlayer <Baka-MPlayer@noreply.github.com> </div><div>Cc: ConundrumAdInfinitum <lch.three@gmail.com> </div><div>Subject: R

[2015-02-07 04:52] ConundrumAdInfinitum commented on #92
Maybe "Featured" as it could refer to playing features and discussing/recommending Features (as in films or anime), and possibly rating them.

Are you guys planning an "IMDB-alike" module?

Or more like a Netflix-Facebook recommendation bridge thingy?

Sent from my T-Mobile 4G LTE Device

<div>-------- Original message --------</div><div>From: Joshua Park <notifications@github.com> </div><div>Date

[2015-02-07 05:19] amazingfate commented on #92
Nobody has said baka is related to anime. It is just a name just as @u8sand said. If you read the wikipedia: http://ja.wikipedia.org/wiki/%E9%A6%AC%E9%B9%BF, you will find baka is just a Japanese word. It is used not only in anime. It has both positive and negative meanings.

[2015-02-07 16:41] maimteve commented on #92
My thinking:

My suggestion: bg-mplayer. With "BG" not really standing for anything. I got the idea from "baka gaijin".

[2015-02-07 17:21] suhr commented on #92
bmpv.

[2015-02-07 17:23] u8sand commented on #92
I like the short name. What do you think @godly-devotion ?

[2015-02-07 18:15] godly-devotion commented on #92
I liked `acai`/`acai-player` player :(
If we can't think of something else, bmpv it is.

[2015-02-07 22:57] godly-devotion commented on #92
Also one thing I would like to mention is that the name should arouse interest into the player. For example, Baka MPlayer has an "interesting name" so that it pops out from the never ending list of media players on popular download websites. Technically speaking, bmpv is great cause its short and makes sense. However, people that are not technically inclined might be deterred from its unusual name

[2015-02-08 00:43] ConundrumAdInfinitum commented on #92
What about ICU (Internet Content Utility)?

If the player: 

Plays video
Gets a YouTube module
Gets a chat/rating/reccomend module

The name would be short as an acronym, and expand to describe what it does.

Sent from my T-Mobile 4G LTE Device

<div>-------- Original message --------</div><div>From: Joshua Park <notifications@github.com> </div><div>Date:02/07/2015  2:57 PM  (GMT-08:00) </div><div

[2015-02-08 23:25] u8sand commented on #88
I'll note that with 587a0491e1ba0a4bb072aae48c67939afe2e8b48 a patch which fixes fontconfig on mxe has been added. There are still some things which need to be done (due to fontconfig's slow caching).

[2015-02-10 17:47] godly-devotion commented on #91
Compiling should now work with https://github.com/u8sand/Baka-MPlayer/blob/master/etc/sbin/linux/debian_based.sh

[2015-02-10 17:47] #91 closed

[2015-02-10 21:05] u8sand commented on #91
@muzena Sorry this took so long to get. Been busy lately.
You'll find a working libmpv below:
https://dl.dropboxusercontent.com/u/13483445/mpv_0.7.3_amd64.deb

After installing that deb package, compile and install baka and everything should work properly.

[2015-02-12 07:50] jmdavis commented on #92
Personally, if I had a problem with the name baka-mplayer, it would be that it has mplayer in its name when it uses mpv, not mplayer (though it wouldn't surprise me if more people found it thanks to mplayer being in the name and them looking for something related to mplayer, particularly when mpv is so much newer than mplayer). The fact that it has baka in its name doesn't bother me at all, though

[2015-02-15 13:40] amazingfate commented on #88
I built the git version today with MSYS2 and the .srt subtitiles can be showed but only English subtitles looks fine, other languages are like this:
![srt](https://cloud.githubusercontent.com/assets/5022901/6203394/ddd5002e-b55a-11e4-958a-0c8ffd9f4623.jpg)

[2015-02-15 15:32] u8sand commented on #88
@amazingfate I see, for now then we'd have to just make that config available for people.
Does showtext work?  (command-line: `mpv show_text Hello`)

[2015-02-15 22:36] ConundrumAdInfinitum commented on #92
I agree with Jonathan M Davis, I never really had much of a problem with
baka-mplayer as a name myself. I was suggesting names to be helpful.

Since there is some potential confusion around the "mplayer" part of
baka-mplayer,

Why not just baka-mpv? or mpv-player?

Both are simple, indicate that the player uses mpv as the "rendering
engine", and is a little bit more than using mpv standalone.

Als

[2015-02-16 00:59] amazingfate commented on #88
showtext works but it will make the video back to the start

[2015-02-16 08:59] amazingfate commented on #84
got an issue: showtext works if the .exe is in the build directory but doesn't work in other directories.
even .ass subtitles don't show up.

[2015-02-16 13:28] u8sand commented on #88
@amazingfate that's strange.. what about the media-info? (`tab`) If that works fine we can masquerade `show_text`.

[2015-02-17 01:07] amazingfate commented on #88
@u8sand media-info works.

[2015-02-17 07:10] amazingfate commented on #84
I found that when showtext works fine, a cache file in C:\Users\liujianfeng\AppData\Local\fontconfig\cache is used by baka-mplayer.exe or mpv.exe.

[2015-02-17 09:05] amazingfate commented on #84
ahhhhhhh~ finally fix it!
just as http://lists.freedesktop.org/archives/fontconfig/2007-October/002685.html said:
[code]

[2015-02-19 16:22] maimteve commented on #92
I like the idea of using mpv intstead of mplayer.

How about b-mpv?

[2015-02-22 08:13] amazingfate opened #93 "build ffmpeg with --enable-dxva2 in mxe"
The ffmpeg mxe provided is not configured with dxva2 support, but in MSYS2 there is ```--enable-dxva2``` parameter: https://github.com/Alexpux/MINGW-packages/blob/master/mingw-w64-ffmpeg/PKGBUILD. Maybe this is why the one built by mxe doesn't support dxva2 hardware acceleration.
I can't build mxe now because of my poor network. We can have a try.

[2015-02-22 16:45] u8sand commented on #93
@amazingfate I've compiled successfully with the new flag, i'll have to ask @godly-devotion to test it for me.

One of our biggest concerns at the moment with Windows compilation is fontconfig. With the correct fonts.conf file fonts shouldn't need to be cached (which takes a long time and makes it seem like the program is frozen initially and any time fonts change).

lach0r's mpv build doesn't hav

[2015-02-23 01:04] amazingfate commented on #93
Yeah fontconfig is a big problem, I've compiled fontconfig with patches lachs0r provides in msys2 but it still caches fonts for a long time, only change is that it can support fonts in directory /fonts and fonts.conf in /mpv which is provided by mpv, I'm considering to recompile all the dependence of mpv to see what will happen.

[2015-02-23 01:10] godly-devotion commented on #93
@amazingfate then technically speaking, can't we use the `fonts.conf` file that lachs0r uses for his windows build to stop fontconfig from caching?

[2015-02-23 01:22] amazingfate commented on #93
@godly-devotion it should can but now only fonts.conf works, it stiil cached fonts in /c/Windows/Fonts.
mpv lachs0r builds also caches fonts but it uses fonts in /font directory so it takes a very short time

[2015-02-23 02:46] amazingfate commented on #93
@godly-devotion wow it works! We should copy /font and /mpv folder mpv provides and replace ```/etc/fonts/fonts.conf```

[2015-02-23 03:11] godly-devotion commented on #93
@amazingfate great! the next step is to get static compilation working now

[2015-02-24 03:24] amazingfate opened #94 "can't show all file type in file dialog"
file dialog doesn't contain all file type that baka--mplayer can play, we can just add a choose of all file type

[2015-02-24 04:43] u8sand commented on #94
@amazingfate the only issue with this is it won't behave well with the playlist. The playlist doesn't load files with unrecognized extensions. Perhaps we need to extend that list?
I can also look into letting the user choose "any type" and add that specific type to this list.
I'll probably get to this tomorrow evening. Please list here any more types that don't exist.

Here is the type list:

[2015-02-24 04:45] u8sand commented on #93
I've confirmed that this works well. I'll soon be putting more effort into the pursuit of msys2 as our build system. Thank you for your continued effort towards this cause @amazingfate

[2015-02-24 07:21] amazingfate commented on #94
I can only list these two video type for now: *.letv, *.hlv
I'll add more if I find.

[2015-02-25 02:29] godly-devotion commented on #88
@maimteve sorry for taking so long. here is a working (un)official build that has the external sub files fixed. unfortunately it will take a bit more time until it will be fully fixed as we haven't got static building working for Windows yet, thus the messy dll's required.

Download: https://db.tt/cwPmrHMw

[2015-02-25 03:24] #94 closed

[2015-02-26 10:48] robin007bond opened #96 "Missing configuration file editing in Windows"
First of all, I think Baka-Mplayer is a great GUI for mpv. Unfortunately, I think that a lot of customization options are missing from the GUI.

The .ini config file is stored in the executable itself, is it possible for people using Windows to configure it themselves? Without repacking the executable?

[2015-02-26 13:55] u8sand commented on #96
@robin007bond the .ini file is not stored in the executable; it is right next to the executable, this is for portability. It should be very easy to edit though we try to offer most configuration options in the GUI itself. If there is something in particular you wish to customize please request it.

[2015-02-26 13:55] #96 closed

[2015-02-26 21:37] robin007bond commented on #92
I have no problems with the name, except the "mplayer" part, since Baka-Mplayer uses libmpv.

[2015-02-27 04:08] maimteve commented on #88
@godly-devotion
Thank you. I will point people to that build for the time being.

[2015-02-28 16:33] godly-devotion commented on #92
@amazingfate what do you think about `mao-player` (猫)? i thought about `neko-player` but neko is kind of ubiquitous and maybe unoriginal.

[2015-02-28 16:45] robin007bond commented on #92
Mao reminds me of Mao Zedong. :cry:

[2015-03-01 02:46] godly-devotion commented on #84
@amazingfate btw if the problem with building statically is due to dxva2 and libbluray, that's still pretty good. dxva output on mpv uses copyback which isn't that great imo and although people may be using blu ray images, it's still pretty rare.

[2015-03-01 03:52] amazingfate commented on #92
"mao" doesn't only mean "猫" in Chinese, I think "miao"(喵) is better if you wanna something with cat.

[2015-03-01 03:55] amazingfate commented on #84
@godly-devotion now it got new issues, not only libbluray, there is also something wrong with libzip and  static qt5. I'm trying to fix them.

[2015-03-10 13:27] amazingfate opened #103 "show_text OSD of volume is not translated"

[2015-03-10 13:29] u8sand commented on #103
This was an oversight because I'm using mpv's OSD message--I'll revert it
when I get a chance.
On Mar 10, 2015 9:27 AM, "Jianfeng Liu" <notifications@github.com> wrote:

[2015-03-10 13:50] amazingfate opened #105 "can't start with auto fit window"
I have to use hot key or click to fit window

[2015-03-11 02:32] #105 closed

[2015-03-11 02:36] #103 closed

[2015-03-11 17:56] Stephen-Leibowitz opened #107 "Version 2 Does Not Start On My System"
Version 1.5 works fine for me, but 2.0.1 and 2.0.2 do not start. I am using Win XP SP3 and 1920x1200 resolution. I disabled my anti-virus software. VLC and SMPlayer work. Here is the output from two simple debuggers/profilers:

SimpleProgramDebugger by NirSoft.net
--------------------------------------------------------------------------------

Event Time	Event Type	Thread ID	Memory Address	Filena

[2015-03-12 01:21] u8sand commented on #107
I regret to say that Baka-MPlayer does not work on Windows XP as of now due to a Qt bug.
https://bugreports.qt.io/browse/QTBUG-28766

Certainly when Qt fixes this bug it'll be fixed--however personally I probably won't delve into fixing it.

[2015-03-14 15:59] dragons4life opened #108 "CMD/Black Window and Double instance of a player with livestreamer."
Currently using Windows 8.1

Normally when opening the player a CMD/Black Window will pop out and never close unless i do it myself manually, can this be closed automatically or do i have to do it myself everytime?

Is there a way to make the player, only use one instance of itself? kind of like in PotPlayer, were if i were to open 1 video meanwhile already having one playing it will not open up o

[2015-03-14 17:38] u8sand commented on #108
In terms of the cmd window--that's a compilation issue which should be fixed along with all the other compilation issues as well as fontconfig issues. It's mostly a question of finding a working build system (we think msys2 is it).

We could use multiple instances of the library internally but it's not currently set up to do that and I don't see any real benefit to it because most of us don't watc

[2015-03-15 05:51] dragons4life commented on #108
<blockquote>We could use multiple instances of the library internally but it's not currently set up to do that and I don't see any real benefit to it because most of us don't watch multiple videos at one time.</blockquote>
Well yeah that's what i was trying to say, that i only wanted one instance of the player being used, not open another one when i open another video? unless i misread what you ty

[2015-03-15 11:20] amazingfate commented on #108
If you want to open another file in the same window, ctrl+o to select a file and it will be played in the current window. If you click the file in a file manager, it will open a new window. I think this design doesn't have any problems.

[2015-03-15 12:35] dragons4life commented on #108
It's not really the design of it, it's the option to choose not to.

Also i know you can open up files like that, but if i am using "livestreamer" to watch twitch and when i want to switch to another streamer, another player comes up with another black window.

However i don't think the problem is his fault, it probably is mpv.

[2015-03-15 12:44] godly-devotion commented on #108
@dragons4life this is a preview build of Baka that has this fixed. you can use this build until we can get static compilation working. Download: https://db.tt/cwPmrHMw

[2015-03-17 15:42] amazingfate opened #109 "long file name issue of recently opened file"
If the name of a file is too long,when the mouse move to "recently opened file", it becomes full screen,which doesn't look good

[2015-03-17 16:47] godly-devotion commented on #109
Hmm could you show me your example?

[2015-03-18 01:30] amazingfate commented on #109
my printscreen doesn't work, you can rename a file to a long name or move it to a long location to test

[2015-03-18 16:37] u8sand commented on #109
We can simple trim file names at a certain length--what do you think is a good length and do we trim the front or the end? or the middle..?

[2015-03-18 17:45] godly-devotion commented on #109
@u8sand I recommend trimming from the middle (TV name is usually in the front & episode num is in the back). however trim the folder name and the filename separately.

[2015-03-19 05:56] amazingfate commented on #109
I think we can just show the file name, not the full location, since the single file name can't be so long

[2015-03-19 12:22] u8sand commented on #109
Well we only show the parent directory. Most systems have a 256 character
limit.
I was thinking it might be good to keep the parent directory (or trim it
from the end); and trim the file name in a non-intrusive way. we might want
to do a smart trim which looks for the episode number/markers and trims
those then the end of the filename.
 On Mar 19, 2015 1:56 AM, "Jianfeng Liu" <notifications@github

[2015-03-19 15:22] godly-devotion commented on #109
@u8sand while I think trimming the parent directory name from the end is fine, I still recommend trimming a long file name from the center. although it may be cool to smart trim, it may lead to more confusion for the user.

[2015-03-19 23:53] u8sand commented on #109
The issue with simply trimming from the center is with a video which has
sub prefix and episode postfix

[long translator name] long title season 3 movie 3 episode 1

the center here is the only important part.
On Mar 19, 2015 11:22 AM, "Joshua Park" <notifications@github.com> wrote:

[2015-03-19 23:58] godly-devotion commented on #109
Hmm I did some sampling with some files I have, I agree with @u8sand. So both the parent directory and the file name should trim from the end (except for the file extension "[long translator name] title 3...mkv").

[2015-04-01 20:42] bretanac93 opened #110 "Subtitles not working"
Hi, the subtitles aren´t working in the last version, check this out.

[2015-04-02 03:02] amazingfate commented on #110
if you use windows, you can try my build: https://github.com/amazingfate/baka-build/releases/download/git%4020150402/Baka-MPlayer_x86_64.zip

[2015-04-02 03:02] u8sand commented on #110
Also, please see issue #88

[2015-04-05 03:25] dragons4life opened #111 "Make the media info show fps?"
<img src='http://a.pomf.se/jrvzif.png'/>

[2015-04-05 10:12] Kumikiri opened #112 "Video doesn't show"
Hello,

I'm running on Windows 32 bits and when I open a video with the latest version of Baka Mplayer I have the audio but not the video : http://f.angiva.re/IYyMt

I tried with an old version (1.4.5) and it's working: http://f.angiva.re/2un1U
Also, some characters are corrupted so I deleted the fonts.config and the characters are fine ut the font is really bad: http://f.angiva.re/z4sYE http://f.

[2015-04-06 09:29] amazingfate commented on #112
seems that the default font(maybe sans-serif) doesn't look good in your language. you can add ```osd-font=**``` under [mpv] into bakamplayer.ini to set another font in your system.

[2015-04-06 09:45] Kumikiri commented on #112
I'm running on an older version (because the video isn't working on the last version) so I don't have the bakamplayer.ini file.
How can I make it work ?

[2015-04-06 09:51] amazingfate commented on #112
you can download the newer build from http://bakamplayer.u8sand.net/april_news.php
bakamplayer.ini is created after you first run it.

[2015-04-06 09:53] Kumikiri commented on #112
I already tried it yesterday, the video isn't working as I showed on my first post with the screenshots.
The ony version working on my pc is the 1.4.5 and there isn't any bakamplayer.ini file.

[2015-04-06 10:00] amazingfate commented on #112
is all the videos don't show or just some videos don't show?
would you please share a video with problem to us so we can test it.

[2015-04-06 10:02] Kumikiri commented on #112
All the videos don't show and when I'm trying to run bakamplayer from the link you gave to me it says that the version is incompatible with my pc even though I'm running on 32 bits.

[2015-04-06 10:04] amazingfate commented on #112
I am sorry this is  a 64 bit version
I will build a 32 bit version later

[2015-04-06 11:11] Kumikiri commented on #112
Ok, thank you for your help !

[2015-04-06 13:11] amazingfate commented on #112
I've built a 32 bit version, you can try it: https://github.com/amazingfate/baka-build/releases/download/git%4020150406/Baka-MPlayer_i686.zip

[2015-04-06 13:27] alienhjy opened #113 "Some advice about playlist."
1、Please add support for remember the last position.
For 2.0.2, when I open a video(I only try with video), it always play the video from the head...
2、It will be better if baka can support "multi playlist" for locale video file.
Just like PPTV player. For PPTV, when I open a video file, it will add all video on the same dir to current playlist, like baka does now. But when I open a new video file

[2015-04-06 13:49] Kumikiri commented on #112
Thank you very much for the 32 bit version, but unfortunately I have stil the same issue: http://f.angiva.re/Fpoto

I don't understand why...

[2015-04-06 15:18] u8sand commented on #112
@Kumikiri could you give us some information about your video card.

And mpv debugging information would be helpful--open up the console (Ctrl+G) type `debug debug`, run your video, pause it, copy the debugging information into pastebin, give us the link to the paste.

Hopefully it's an issue *we* can fix.

[2015-04-06 15:21] u8sand commented on #113
@alienhjy
With regards to 1. does Ctrl+Z (which opens the last played file) not reload that file?
And for 2. I'm just not really following the suggestion, could you clarify? From what I understand you want baka to have directory support for having multiple playlists at once. Why not just open another baka? I just think turning baka's playlist into a file manager is not really useful.

[2015-04-06 15:24] u8sand commented on #111
@dragons4life
This is in our plan moving forward; the main issue it isn't "simple" is because mpv tells us:

       fps    Container FPS. This can easily contain bogus values. For  videos
              that  use  modern  container  formats or video codecs, this will
              often be incorrect.

[2015-04-06 15:41] Kumikiri commented on #112
My PC is old so the video card is pretty bad (ATI Radeon HD 3650)
I can't type nothing into the console, it's written: [mpv]: property unavailable

[2015-04-06 16:20] godly-devotion commented on #111
@u8sand we'd use `estimated-vf-fps`. "Estimated/measured FPS of the video filter chain output. (If no filters are used, this corresponds to decoder output.) This uses the average of the 10 past frame durations to calculate the FPS." However this is real time info so Baka's overlay system will need to have the ability to update info real-time (another thing in plan).

[2015-04-06 16:26] godly-devotion commented on #111
@u8sand also I added some info pertaining showing info as overlay in wf. The general idea came from here https://github.com/mpv-player/mpv/issues/1760

[2015-04-07 12:14] alienhjy commented on #113
@u8sand
For 1. Ctrl+Z could only open the last played file, but can't start with the last position. It will play the last file from the beginning of its.
For 2. open another baka can't store this two or more playlist. It will empty all of the old playlist when we open baka next time...
For understanding what i saied, why not try PPTV?

[2015-04-07 12:20] u8sand commented on #113
Ok, for the last position, it is a feature in our scope so you'll certainly
see it implemented in the future.

I'll look into PPTV.  Thank you for your feedback!
On Apr 7, 2015 8:14 AM, "alienhjy" <notifications@github.com> wrote:

[2015-04-07 12:47] alienhjy commented on #113
@u8sand Thanks for your work~

[2015-04-09 14:16] #109 closed

[2015-04-14 03:34] amazingfate opened #118 "logo not show in awesome wm"
we only install baka-mplayer.svg to /usr/share/pixmaps, we should also install icons to /usr/share/icons/hicolor
this also cause big icon in app menu in xfce

[2015-04-15 10:32] ConundrumAdInfinitum opened #120 "Feature Request > Preferences > Key Bindings > Mute"
Hello Developers,

I think it would be useful if you could add a "Mute" feature, accessible via Key Bindings, to Baka MPlayer.

[2015-04-15 16:13] u8sand commented on #120
You can make your own! Use the command  `volume 0`
On Apr 15, 2015 6:32 AM, "ConundrumAdInfinitum" <notifications@github.com>
wrote:

[2015-04-15 16:58] ConundrumAdInfinitum commented on #120
I figured out how to add the command to the Key Bindings, however the results are not as I would have expected. I suppose I am hoping for a "Toggle Mute" function.

        Sent by Outlook for Android

On Wed, Apr 15, 2015 at 9:14 AM -0700, "Daniel Clarke" <notifications@github.com> wrote:

You can make your own! Use the command  `volume 0`

On Apr 15, 2015 6:32 AM, "ConundrumAdInfinitum" <notific

[2015-04-15 17:53] godly-devotion commented on #120
@ConundrumAdInfinitum hey you're probably looking for `mpv cycle mute`.

@u8sand I think we should add mute ability by default. I'll think about how it should look/work.

[2015-04-16 05:13] ConundrumAdInfinitum commented on #120
Thanks for provideing the command code, I was able to set a Key Binding for
a "Toggle Mute" function, I agree it should be in there by default.

On Wed, Apr 15, 2015 at 10:53 AM, Joshua Park <notifications@github.com>
wrote:

[2015-04-19 02:20] Chaquator opened #121 "Perhaps include peerflix to stream from torrents?"
Title says it all, really.
Would be nice to watch torrent streams like I could watch YouTube.
Perhaps have a setting to choose a the folder for the temporary files, too. The way I did it was by making a symlink to where it'd normally place those files (on my SSD), but I'm sure you could do it within the js files themselves.

[2015-04-23 17:20] Stephen-Leibowitz opened #122 "Entry Point Not Found"
The interim release for 32-bit Windows, Baka-MPlayer_i686 (2015.04.06), fails on Windows XP. Here is the error message:
baka-mplayer.exe - Entry Point Not Found
The procedure entry point _vsnprintf_s could not be located in the dynamic link library msvcrt.dll

I did a Google search of the second line of the error message and found that it is not uncommon. In particular, it appears to be related to

[2015-04-23 23:36] #122 closed

[2015-04-25 03:58] Stephen-Leibowitz opened #123 "Entry Point Not Found"
The interim release for 32-bit Windows, Baka-MPlayer_i686 (2015.04.06), fails on Windows XP. Here is the error message:
baka-mplayer.exe - Entry Point Not Found
The procedure entry point _vsnprintf_s could not be located in the dynamic link library msvcrt.dll

This article discusses msvcrt.dll:
http://en.wikipedia.org/wiki/Microsoft_Windows_library_files#MSVCRT.DLL_and_MSVCPP.DLL

The entry point

[2015-04-26 03:36] amazingfate commented on #123
I built this release with MSYS2 on windows 8 since I don't have windows xp on my computer. Here is the build script: https://github.com/amazingfate/baka-build, you can try to build it on xp and see whether this problem is solved.

[2015-04-27 22:48] Chaquator opened #124 "Possible to use MadVR or some sort of motion interpolation?"
Better yet, is there a way to change the DirectShow thing in the settings?

[2015-04-30 14:19] godly-devotion commented on #124
We are planning to add motion interpolation option under Preferences. In the meantime try adding the line `vo=opengl-hq:interpolation` under the `[mpv] ` line in `bakamplayer.ini`.

[2015-04-30 23:59] Chaquator commented on #124
Cool!
Is that kind of motion interpolation just fading between frames rapidly or actual interpolation?

[2015-05-01 16:18] dragons4life commented on #124
A little off-topic but does MPV have "debanding" like madVR?
<img src='http://i.imgur.com/bZKs3KU.png'/>

Anyways to add it to to Bakam?

[2015-05-01 17:52] godly-devotion commented on #124
@Chaquator @dragons4life I see. I recommend asking the `mpv-player/mpv` folks directly about these two questions.

And just to reiterate, you can set mpv options (https://github.com/mpv-player/mpv/blob/master/DOCS/man/options.rst) into the `bakamplayer.ini` settings file under the `[mpv]` section. There are a lot of stuff you can set, so I recommend find & search first before asking them also.

[2015-05-15 14:03] laichiaheng opened #125 "Is there a PPA for Ubuntu based system？"
Is there a PPA for Ubuntu based system?
It is much easier to install it!

[2015-05-15 14:31] laichiaheng commented on #125
It said that I didn't have a xcb plugin. What is it?

[2015-05-16 05:55] amazingfate commented on #125
somebody has done this: https://launchpad.net/~mc3man/+archive/ubuntu/libmpv1
I don't use ubuntu so you can contact Doug McMahon on launchpad if you have any problem.

[2015-05-16 14:09] godly-devotion commented on #125
I've actually contacted @mc4man and is waiting for his response.

[2015-05-16 14:55] mc4man commented on #125
Well -
the ppa mentioned above is a staging ppa, really not meant for general use as it depends on other ppa's, one of which is a personal 14.04 ppa that while useable will 'break' at times.
The issues concerning a ppa for baka are these -
1. support for Ubuntu releases other than lts releases is time consuming & of limited value as after 9 months no more buids in a ppa can be done.
2. There is th

[2015-05-17 00:54] godly-devotion commented on #92
A friend of mine recommended me the name `fovea`. Put simply, it is the part of the eye that is responsible for sharp central vision. I've also sketched out a prototype logo if you want to see https://db.tt/vzJ7Rwdo/ (I've found out that it looks similar to the cbs logo after creating it).

Thoughts?

[2015-05-17 15:36] godly-devotion commented on #125
@mc4man Thanks. We really appreciate it.

[2015-05-18 19:59] u8sand commented on #118
I'll put a copy in `/usr/share/icons/hicolor/scalable/apps/` I'm not entirely familiar with this folder, if I should be putting in all the sizes to the other folders just tell me.

[2015-05-18 20:05] #118 closed

[2015-05-18 20:06] u8sand commented on #120
@godly-devotion Have you thought of a way to add mute as a default feature?

[2015-05-18 22:12] u8sand commented on #120
Fixed with 4ab04610be1933ac0960a3dd3faf7642b4a3cd78

[2015-05-18 22:12] #120 closed

[2015-05-19 08:45] laichiaheng commented on #125
Is there any difference between ppa:mc3man/trusty-media and ppa:mc3man/testing6
I have added ppa:mc3man/trusty-media in my repository.

[2015-05-21 22:09] DesuDesuDesuDesu commented on #92
Ahoy,
first of all: I'd also definitly rename the "mplayer" part to "mpv" - that's not confusing as it is, but deceptive. There's a trusted german website about computer stuff, even they write that the player "is based on MPlayer" [>>](http://www.chip.de/downloads/Baka-MPlayer_62165856.html).
About "Fovea": I like the idea, it's witty. It's kind of an inside joke because most people won't get it;

[2015-05-24 16:44] u8sand commented on #111
You'll note that there is a working implementation here: 9156294734a2b42851c89b9b1233bfcac0f0c125
Most likely today I'll make it more efficient and merge it to master.

[2015-05-25 01:38] dragons4life commented on #111
Thanks.

[2015-05-25 02:59] Antares95 opened #126 "change volume will change system volume, not app volume"
OS:Linux, using pulseaudio.

[2015-05-25 14:53] u8sand commented on #126
We're using MPV to adjust volume. MPV determines how with --softvol option,
when set to auto (the default) it's supposed to use app volume if available.

see if forcing softvol to yes fixes your issue:
(in settings)

    [mpv]
    softvol=yes

I'll check on my own system.
On May 24, 2015 10:59 PM, "Antares95" <notifications@github.com> wrote:

[2015-05-26 07:21] Antares95 commented on #126
softvol can solve the problem, thank you.

[2015-05-27 23:32] #126 closed

[2015-05-28 00:16] u8sand commented on #111
Merged b110b3d24dd1141060ac6452b6cf9ca0fe201cc9

[2015-05-28 00:16] #111 closed

[2015-05-31 18:26] u8sand commented on #74
I rebuilt mxe toolchain today and it fixed itself.

[2015-05-31 18:26] #74 closed

[2015-05-31 18:26] u8sand commented on #84
As mxe fixed itself w/ the windows console--I'm thinking of sticking with it. What other things were mxe builds missing?

[2015-05-31 18:29] u8sand commented on #92
@DesuDesuDesuDesu markdown: use `<http://thisurl.com>` or `[This](url)`

Thank you for all your contributions to the purpose; but I still have yet to find a name I'm eager to adopt.

[2015-05-31 18:32] u8sand commented on #108
The black window was fixed; see https://github.com/u8sand/Baka-MPlayer/issues/74

I'll have to try out baka with livestreamer--will investigate this bug after our release.

[2015-05-31 18:34] u8sand commented on #93
This was enabled in my build scripts (which I should put in the repo--I will soon).

[2015-05-31 18:34] #93 closed

[2015-06-01 01:16] amazingfate commented on #84
some deps of mpv can not be built staticly, but it seems not a big issue

[2015-06-01 01:16] #84 closed

[2015-06-03 02:07] godly-devotion commented on #124
Fixed via 39665f1

[2015-06-03 02:07] #124 closed

[2015-06-03 19:54] godly-devotion commented on #113
Completed. Recently Opened items have their last position saved now.

[2015-06-03 19:54] #113 closed

[2015-06-03 20:59] Chaquator commented on #124
based

[2015-06-04 06:21] jbeich opened #129 "FreeBSD port link should be to FreshPorts, not svn repo"
Arch/Gentoo/OpenSUSE link to package description page, not the underlying repository. Why FreeBSD is different? Can you replace the link with FreshPorts' one? The site is [recommended](https://www.freebsd.org/ports/searching.html) over primitive search on www.freebsd.org.

http://bakamplayer.u8sand.net/installation.php#linux
https://freshports.org/multimedia/baka-mplayer

If you look carefully Fre

[2015-06-04 13:44] godly-devotion commented on #125
@mc4man Hey we just released our biggest update (2.0.3). We'd like to let Ubuntu 15.04 users be able to easily update via PPA method. Should I tell them to go to https://launchpad.net/~mc3man/+archive/ubuntu/ffmpeg-test1 as you said?

[2015-06-04 13:49] godly-devotion commented on #129
Done! And thanks for taking time to manage the FreeBSD port! :smile:

[2015-06-04 13:49] #129 closed

[2015-06-04 13:50] godly-devotion commented on #110
Fixed with latest version.

[2015-06-04 13:50] #110 closed

[2015-06-04 13:51] godly-devotion commented on #88
Fixed with latest version.

[2015-06-04 13:51] #88 closed

[2015-06-04 13:56] godly-devotion commented on #108
@dragons4life The cmd window popping up has been officially fixed with latest version (2.0.3).

@u8sand Basically he wants to be able to have a "single-instance mode" where if he already has Baka open and he opens another file via File Explorer, it doesn't create a new window, but replaces the loaded file in the already open Baka instance.

[2015-06-04 13:57] godly-devotion commented on #112
@Kumikiri Hey we just released a pretty major update (2.0.3). I recommend you update to see if your problem was solved.

[2015-06-04 13:58] godly-devotion commented on #123
@Stephen-Leibowitz We just released a major update (2.0.3). Could you try updating to see if your problem was fixed?

[2015-06-04 14:04] godly-devotion commented on #108
We've discussed about the "single-instance mode" feature and found it to be not that useful. However if there is more demand in the future, we may consider it.
Thanks for your suggestion.

[2015-06-04 14:04] #108 closed

[2015-06-05 01:05] mc4man commented on #125
sure - currently has baka 2.0.3 release, libmpv 0.9.2. ffmpeg is at
2.6.2 & may get updated to 2.6.3 shortly.
As I don't spend much time on 15.04 any issues, concerns, what-not
should be forwarded via LP email.
Doug

On 06/04/2015 09:44 AM, Joshua Park wrote:

[2015-06-05 01:37] godly-devotion commented on #125
@mc4man Thank you yet again.

[2015-06-05 01:37] #125 closed

[2015-06-05 13:28] u8sand commented on #121
I feel like this is something which should be added into mpv (and then it would naturally be added to baka). I'll look into making the change to mpv.

[2015-06-05 13:56] u8sand commented on #107
I'm working on fixing this--Qt fixed it upstream: https://bugreports.qt.io/browse/QTBUG-29306

[2015-06-05 13:56] u8sand commented on #123
I'm working on fixing this--Qt fixed it upstream: https://bugreports.qt.io/browse/QTBUG-29306

[2015-06-05 22:50] Chaquator commented on #121
true true
no reason to have to increase bulk by adding node and all the modules and dependencies and all

[2015-06-06 03:20] mc4man opened #130 "fails to build with Converted settings to JSON"
fail on ubuntu 14.04 only, 15.04 is ok
good build log cdce472     -    http://paste.ubuntu.com/11601287/
failed build log 9dbb167    -    http://paste.ubuntu.com/11601301/
(same fails seen on 2.0.3 release
Any ideas, outdated package in 14.04, ect?

[2015-06-06 03:28] Stephen-Leibowitz commented on #123
I tried the new build, version 2.0.3. Unfortunately, like 2.0.2, it fails to work on Windows XP. It does not give an error message. The interim build did give an error message, which I discussed in my comment at the top of this issue.

I am not yet able to build Baka, although I might be in the future. There is a comment on the mingw wiki by Keith Marshall that I think does a good job of discussin

[2015-06-06 14:40] u8sand commented on #130
@mc4man Actually @godly-devotion had a similar issue. It looks to me like an outdated package--the error is simply that QJson objects don't have constructors with their default values, but clearly [they are supposed to](http://doc.qt.io/qt-5/qjsonvalue.html). And they do on my system.
I'm using qt 5.4.2-1
Ubuntu seems to be ridiculously far behind. Qt doesn't leave much information about WHEN thes

[2015-06-06 15:15] godly-devotion commented on #130
Tell 14.04 to upgrade lol

[2015-06-06 21:34] mc4man commented on #130
I'll take a quick look but seems unlikely it's worth the hassle to produce new qtbase (5) package sets for 14.04 (or do an install  of the needed to /opt/  ect. workaround
(14.04 is on 5.2), so likely will just end 14.04 @ cde472

Note to any future affected 14.04 users - it's possible that one can do this locally/self builds, but not going to happen in a ppa unless there is an advanced qt5 ppa of

[2015-06-07 06:38] LeeGing commented on #130
Debian testing with QT 5.3.2 has this problem too.QT 5.4.2 is still in experimental.It seems that i have to wait for it.
so I think the Requirements(qtbase5-dev (>= 5.2.0) ) should be changed to qtbase5-dev (>= 5.4.?) now.

[2015-06-07 14:25] u8sand commented on #130
Please confirm for me that this fix works (not tried but it should work)

[2015-06-07 15:51] mc4man commented on #130
Thanks for the try, while much improved still a couple of errors
http://paste.ubuntu.com/11628890/

[2015-06-07 16:25] #130 closed

[2015-06-07 16:26] u8sand commented on #130
Thanks for the feedback--again I'll ask you to confirm if this did the trick.

[2015-06-07 22:42] mc4man commented on #130
Ok - that's good to go
Thanks for the attention, as far as Ubuntu 15.04/15.10 will be ok as far as qt5, 16.04 should be well advanced also. Here I give only passing attention to these interim releases as they're only good for 9 months. 16.04 will get better as it is an lts (5 yr. support

[2015-06-20 12:22] Decme opened #131 "Play video from beginning"
Feature request - option to make videos always start from the beginning (currently videos always resume the previous position)

[2015-06-20 12:22] Decme opened #132 "Click to pause"
Feature request - click video to toggle pause/unpause

[2015-06-20 12:23] Decme opened #133 "[bug] toggling fullscreen removes playlist upon restore"
Bug - when playlist is shown on the right panel, double clicking the video for fullscreen playback, then double clicking again to restore to windowed mode hides the playlist (the playlist should be returned to its original position)

[2015-06-22 00:58] u8sand commented on #132
@Decme you can right click to pause/unpause--I'll make click and other special related actions modifiable as keybindings are in the near future.

[2015-06-29 06:24] gothmog123 opened #134 "mpv softvol settings have no effect"
If I put a value in softvol-max into the mpv section nothing happens. I think increasing the volume above 100 is a very important feature, could you implement it? Thanks for an awesome player.

[2015-07-04 22:41] starks opened #135 "Playlist messes with PrntScr screenshots in fullscreen"
When I PrntScr, I get this...

http://i.imgur.com/6aqxy46.jpg

Black pixels at the top and side.

Is there a way to completely disable the playlist or make its hover zone completely invisible? If anything, it should be the exact edge of the screen. Player controls exhibit a similar behavior and should simply be an overlay.

[2015-07-04 23:02] u8sand commented on #135
The best way to take screenshots is with baka-mplayer's built-in screenshots as even if your window size is different than the actual video, you'll get the original resolution in the screenshot.

In terms of having the playlist not take space--this is a slight annoyance with the way Qt's Splitter works, I'll certainly look into it again in the future but it'll probably have to stay.

[2015-07-05 09:49] TheAwesomeYankee commented on #135
For some reason, those black pixels appear all the time (i mean i don't even have to press prtscr)... I just watched video and noticed that there's some black space on the right side of the screen.
Am I the only one having this problem?

It happens the same on windows and linux.

[2015-07-05 14:35] u8sand commented on #135
@TheAwesomeYankee That is correct, setting the splitter handle's width to 0 doesn't work, nor does hiding it (the entire area gets hidden)--because the body of the splitter is handled by the same class. I'll have to hack the widget to remove its visibility.

[2015-07-13 04:06] Chaquator opened #136 "add ability to use youtube-dl's bestvideo+bestaudio format"
I've been trying to open 4K youtube vidoes in baka mplayer but they always end up at 720p, even when i add `"ytdl-format": "bestvideo+bestaudio"` (and yes i did put a comma at the end of the line before it)

could there be an option to specify what kind of format to use with ytdl, or, better yet, make it `bestvideo+bestaudio` by default? that'd require for you to make sure to alert the people down

[2015-07-13 23:52] u8sand commented on #136
@Chaquator I've confirmed this, it would seem mpv is still only using "best" format, will investigate.

[2015-07-14 00:03] #136 closed

[2015-07-14 00:28] u8sand commented on #134
Please note that I'm working on this in another branch 6056d7707da69a93fbc3de905fc2943b82db3690

Though I've finished implementing it, setting the mpv volume above 100% seems to just return an error. As I can't find documentation clarifying this I'll have to ask the mpv devs when I get a chance.

[2015-07-14 00:35] #131 closed

[2015-07-14 00:36] u8sand commented on #131
@Decme I've added a option you can specify in the settings:

    {
        ...
        "resume": false,
        ...
    }

@godly-devotion when you get around to it send me a patch to the preferences for this

[2015-07-22 20:29] 1dot75cm opened #137 "provide fedora rpm"
I just added a rpm package for fedora 21/22. Can you add rpm‘s URL to the home page?
spec file: https://github.com/FZUG/repo/blob/master/rpms/SPECS/baka-mplayer/baka-mplayer.spec
repo: http://repo.fdzh.org/FZUG

[2015-07-24 01:58] godly-devotion commented on #137
Done! Thank you.

[2015-07-24 01:58] #137 closed

[2015-08-03 08:43] amazingfate opened #138 "please add qttools5-dev-tools as debian build dep"
it is needed to build translations

[2015-08-04 02:14] #138 closed

[2015-08-08 15:43] deathtrip opened #139 "option to disable automatic playlist opening and scanning directory for video files"
it's annoying when you only wanna play one file, and takes resources to scan the directory

[2015-08-09 05:34] ConundrumAdInfinitum opened #140 "FEATURE REQUEST: Multiple Keymap Profiles"
Hi Devs,

I think it would be really useful to incorporate Multiple Keymap Profiles for your Custom Keyboard Shortcuts into Baka-MPlayer.

Why?: Because if you are wanting to switch back and forth between the setup you have for say, your Numeric 10-Key Pad when you are using Windows and your full-size extended keyboard, and your Bluetooth Mini Keyboard with Touchpad; you would have to reprogram th

[2015-08-09 08:21] ConundrumAdInfinitum commented on #139
Maybe as a selectable option. I actually find the default directory scan behavior useful.

[2015-08-09 13:56] u8sand commented on #140
I think this would be relatively simple to do, I could simply expand the
input section into a parent hash table called profiles:

"profiles": {
  "name": "your name",
  "input": {...}
}

unless you want fill configured profiles (not just input bindings but all
settings), then perhaps different settings files might make more sense.
On Aug 9, 2015 1:34 AM, "ConundrumAdInfinitum" <notifications@githu

[2015-08-10 06:59] deathtrip commented on #139
as you can read in the title,a selectable option is exactly what i suggested

[2015-08-11 04:45] ConundrumAdInfinitum commented on #140
Question:

Wouldn't having multiple files to name/rename make backing up custom
keymaps easier and tidier??

On Sun, Aug 9, 2015 at 6:56 AM, Daniel Clarke <notifications@github.com>
wrote:

[2015-08-11 12:03] godly-devotion commented on #140
@ConundrumAdInfinitum No that violates the KISS principle, not to mention how messy that can get. I also don't really see the point of full profiles (not to mention that it goes against consistency).

[2015-08-12 08:00] ConundrumAdInfinitum commented on #140
Hi Joshua,

I can see the point, esp. in relation to the KISS principle, of limiting
the keymap profile concept to a single file as Daniel pointed out.

On Tue, Aug 11, 2015 at 5:03 AM, Joshua Park <notifications@github.com>
wrote:

[2015-08-15 14:55] VeralianIV commented on #121
Isn't this already possible with a torrent client by prioritizing the file order and then opening it with baka player?

[2015-08-15 15:09] VeralianIV opened #145 "Screenshots not working"
By pressing ctrl+t,it says "says saved to ... ,with subs" but when going to that folder nothing is found.I tried changing the save folder to multiple location and drives but nothing worked.
when taking the screenshot,the message shows up almost immediately unlike in mpv where the player freezes for a while,shows the message and saves the screenshot to the designated folder.

[2015-08-15 15:10] u8sand commented on #145
I'll look into this, I don't remember altering anything with screenshots
but I did alter settings-that may have done it.
On Aug 15, 2015 11:09 AM, "VeralianIV" <notifications@github.com> wrote:

[2015-08-16 04:21] csiegell opened #146 "FEATURE REQUEST: Option To Save Aspect Ratio "Force" Setting"
There needs to be an option to save your Aspect Ratio "Force" setting ( Force 16:9, etc) as your preferred preference for all videos. Not to mention this is no hot key for this functionality, so it is cumbersome to enable constantly if your always watching the same videos. Additionally, it would be nice to be able to have a keyboard key as a switcher to switch between the different forced aspect r

[2015-08-17 10:26] VeralianIV opened #147 "FEATURE REQUEST: Video frame original/unscaled"
Already [asked this](https://github.com/mpv-player/mpv/issues/1650) in mpv and found a solution but it's such a pain toggling it on/off every time when a video resolution is higher than my screen res.So is it possible to add that option in Baka player like it does in [kawaii codec pack](https://cloud.githubusercontent.com/assets/11322226/6516637/fea603b2-c369-11e4-9655-c3f2c0b41c7c.png)?It'll be v

[2015-08-17 13:58] godly-devotion commented on #147
@VeralianIV If Key Bindings was working correctly you would go to Settings -> Preferences -> Key Bindings -> Add. Enter what key combination you want this new option to have, then under Command, put `mpv cycle video-unscaled`, then press Add->Ok.

Right now it seems we have a major bug with Key Bindings that will need to be fixed.

@u8sand The Key Bindings page has some serious issues that need to

[2015-08-17 22:19] VeralianIV commented on #147
It worked !! thank you so much for this!!The days of changing the file name and restoring it are long gone.

[2015-08-17 22:45] godly-devotion commented on #147
Glad it works.

[2015-08-17 22:45] #147 closed

[2015-08-18 01:58] amazingfate opened #148 "some Chinese osd can't be fully showed"
![default](https://cloud.githubusercontent.com/assets/5022901/9320621/c2fafee2-458e-11e5-99ed-c37e100d0b77.PNG)
The characters in the picture mean "show subtitle", which are not fully showed. It seems to be the problem of font because this happens on ubuntu and windows but doesn't happen on linuxdeepin,a Chinese linux distribution.
I tried to add mpv configuration  ```"osd-font": "NotoSansHans"```

[2015-08-18 02:41] u8sand commented on #148
Interesting--the width is based on Qt's FontMetrics class which is supposed
to tell me the width but it's had its issues in the past.

The best I can try is to add a margin of error to the overlay handler--is
it just the last character that's cut off or is there more?

On Mon, Aug 17, 2015 at 9:58 PM, Jianfeng Liu <notifications@github.com>
wrote:

[2015-08-18 02:48] amazingfate commented on #148
just the last character

[2015-08-19 02:51] Illya opened #150 "Fix dimming on OSX"
Basically, dimming does this: https://i.imgur.com/yR7ZMhD.png This is broken.
Dimming is supposed to dim the background behind the main window, including finderbar, but not the main window; creating an emphasis on the media.

[2015-08-19 02:53] Illya opened #151 "Fix always on-top windows on OSX"
The SetAlwaysOnTop function, https://github.com/u8sand/Baka-MPlayer/blob/dd832ac77cb32e3d48759848e1057747ecc69e44/src/platform/osx.cpp, is stubbed, and this feature needs to be implemented.

[2015-08-19 02:55] u8sand commented on #146
Please note that these settings are settable with the BakaEngine command and thus are assignable to your own keys.

Settings -> Preferences -> Key Bindings -> Add
`mpv set video-aspect -1`     for autodetect
`mpv set video-aspect 16:9`
`mpv set video-aspect 2.35:1`
`mpv set video-aspect 4:3`

(Even if it doesn't appear to show up properly, just click OK anyway it should work nonetheless, that's a

[2015-08-19 03:08] u8sand commented on #145
I've confirmed the presence of this bug, I'll figure out why it's here.

[2015-08-22 13:58] mcjoeng opened #152 "File association"
Why not associate baka-mplayer with multimedia files

[2015-08-22 14:00] u8sand commented on #152
If you're referring to unloading file associations into your registry; I'm
more interested in the portable approach where we leave your system alone
as much as possible--is it not easy enough to "open as"?
On Aug 22, 2015 9:58 AM, "棱镜" <notifications@github.com> wrote:

[2015-08-22 14:39] Illya opened #153 "Config file not being created on OSX"
The config file which should be in ~/.config/bakamplayer.ini is not being created, OSX normally handles config files a little differently to linux in that it should use ~/library/Application Support/Baka-MPlayer/config.ini (for example)

[2015-08-22 14:44] Illya opened #154 "Open with not working on OSX"
Right-click -> open with -> other.. -> select baka-mplayer -> ok
This loads up baka-mplayer but doesn't load up the file.
Should probably look into how OSX gives arguments to applications.

[2015-08-22 14:58] u8sand commented on #153
We use QStandardsPath which according to [this](http://doc.qt.io/qt-5/qstandardpaths.html) it should be that location, but no Baka-MPlayer/config.ini-- baka-mplayer.ini; could this be the issue?

[2015-08-22 15:03] u8sand commented on #154
Looking at [this](http://stackoverflow.com/questions/10242115/os-x-strange-psn-command-line-parameter-when-launched-from-finder), I'm under the impression that Mac OSX is passing other arguments--Baka would then try to open those, maybe i'll just ignore things that start with '-' to fix it.

[2015-08-22 16:22] Illya commented on #153
After doing a `find`, I found that it was infact in ~/Library/Preferences/bakamplayer.ini, so it is saving, but not following the standard of reverse domain, and PList format, this should be ok.
An improvement would be to use ~/library/Application Support/Baka-MPlayer/config.ini but, at the moment it works. However, I see no particular reason to have to change it.

[2015-08-22 16:22] #153 closed

[2015-08-22 17:29] godly-devotion commented on #152
Also Windows 10 makes it really hard for programs to assign themselves.

[2015-08-23 15:52] godly-devotion commented on #92
Hey folks! You probably thought we weren't thinking of a new name right? Well I'm extremely please to announce the new name of our media player.

`mochi-player`

We sincerely thank everyone of you for your suggestions and recommendations that brought us here today.

[2015-08-24 01:31] amazingfate commented on #92
Does mochi means this: https://ja.wikipedia.org/wiki/%E9%A4%85 ?

[2015-08-24 01:37] godly-devotion commented on #92
@amazingfate Yeah.  But usually they are made into a colorful round shape to make it look tastier. Personally I love mochi ice cream.

[2015-08-24 03:13] ConundrumAdInfinitum commented on #92
Naming it after food when it's got nothing to do with food.... *scratches
head*

At least Baka-MPlayer lets you know it's an MPlayer derivative (yes, mpv,
the spiritual successor to MPlayer).

Just a thought
On Aug 23, 2015 6:37 PM, "Joshua Park" <notifications@github.com> wrote:

[2015-09-03 03:29] ConundrumAdInfinitum commented on #152
I agree with the current approach. FYI, I'm on Windows 10, and I found it
easy enough to both "Open With..." and to associate with a SPECIFIC File
Format, but not as a "Handler" for a Protocol, nor as a "Default" app.

Browse to a video file, Right-Click, select Open With, Scroll down to, then
Click on "More Apps" (in the Context-Sensiive Menu), then Click on "Look
for another app on this PC", and

[2015-09-04 16:39] mcjoeng commented on #152
on linux desktop

[2015-09-06 07:51] amazingfate commented on #152
Which desktop environment do you use? As I know all popular desktop environments support file association.

[2015-09-07 13:18] VeralianIV opened #156 "FEATURE REQUEST: Audio Enhancememnt"
I'm requesting an option that makes the volume more clearer and audible in Baka player,I tried Pot player and had it as "boost audio" in normalizer.
Edit:Solved,I found out that I can increase volume using softvol-max=value.

[2015-09-07 13:32] #156 closed

[2015-09-14 04:56] BlackIC commented on #152
For Windows - I've modified the script from https://github.com/rossy/mpv-install for Baka MPlayer.

http://pastebin.com/iPkUw6FM

Place it in the directory where Baka MPlayer.exe resides and it should do the trick.

All credits belong to the original author - I've just changed a few pathes and modified the arguments so it works with Baka MPlayer.

While I understand that you do not like to include

[2015-09-14 12:58] u8sand commented on #152
Thank you for your contribution, we'll find a place for this and we can use
it as reference in the future if we decide to make adding associations
easier.
On Sep 14, 2015 12:56 AM, "BlackIC" <notifications@github.com> wrote:

[2015-09-19 05:45] ConundrumAdInfinitum opened #157 "After upgrade to 2.0.3 Modified keybindings no longer work."
The new version of the program ignores the keybindings in the "bakamplayer.ini" file in the program's root directory on Windows x86_64.

[2015-09-19 06:42] ConundrumAdInfinitum commented on #157
After Deleting the previous installation (folder containing Baka-MPlayer) and trying fresh with 2.0.3 on Windows, and re-setting the Preferences for the Key Bindings from scratch, I'm having mixed results where the keybindings will sometimes take, and sometimes not work.

[2015-09-19 06:43] ConundrumAdInfinitum commented on #157
I think custom key bindings need to be fixed.

[2015-09-19 14:31] u8sand commented on #157
@ConundrumAdInfinitum Is it the keybindings that don't work or is it the preferences dialog? I know of a preference dialog bug w/ keybindings but I was under the impression keybindings worked fine.

[2015-09-21 22:22] ConundrumAdInfinitum commented on #157
Based on the way it is behaving it could be a bug in the preferences dialog panel. I did a clean install of Windows, and had to set up Baka-MPlayer again after reporting the problem. Fresh DL and install of 2.0.3 x86_64 on Windows 10. Preferences dialog acted a bit strangely: When you select to Change the keybinding, it created a duplicate preference at another place in the Preferences dialog, ins

[2015-09-25 17:40] alexzeitgeist opened #158 "Option to hide all window decoration"
It would be nice if there was an option to hide all controls in windowed mode and only show the actual video. This way valuable screen estate can be saved when you watch in windowed mode.

[2015-09-25 17:43] alexzeitgeist opened #159 "Full screen off by one pixel?"
While comparing full screen video play with another popular player, I noticed that Baka MPlayer seems  to draw a black one-pixel border on the right side of the screen.

This is running Baka-MPlayer 2.0.3 under Win 7 x64.

[2015-09-28 01:20] Reboare opened #160 "OSX Player becomes unresponsive when opening video files"
I tried opening video files in the player but it just hangs.  Tested with a variety of media files and all have this issue.  This doesn't occur when opening music files however which play normally.

Tested on yosemite 10.10.3

[2015-09-28 11:51] u8sand commented on #159
Please see issue #135

[2015-09-28 11:51] #159 closed

[2015-09-28 11:52] u8sand commented on #158
@alexzeitgeist do you suggest the fullscreen window's functionality without being fullscreen? (with hovering responses and all)

[2015-09-28 17:09] alexzeitgeist commented on #158
@u8sand exactly. Basically windowed mode without any decoration. mpv does it with --no-border to  disable the standard window decorations (or border=no in config files).

[2015-09-29 10:49] godly-devotion commented on #160
We don't provide OS X builds yet, how did you get it? Did you compile it yourself?

[2015-09-29 15:00] Reboare commented on #160
Yeah I compiled it myself.  The example provided by mpv [here](https://github.com/mpv-player/mpv/tree/master/DOCS/client_api_examples/qt) has the same issue I just found out so not sure if it's a problem with qt, mpv or my installation of them.  I'll reinstall the dependencies and try again.

[2015-09-29 18:03] luigino opened #161 "[Feature request]: Use Transifex to coordinate localisation"
As per subject, Transifex is a service used to crowdsource translations, it's used by many OSS projects and it's free for this purpose.

With it translators can be promptly notified when there's something to be done and the job can also be done via a web interface.

[2015-09-30 02:29] amazingfate opened #162 "save position not work when restart the player"
when quit and then open the player to play the last video with crtl+z, it will still play from start

[2015-10-10 12:29] mhogomchungu opened #163 "have an option to not store history of receantly played videos."
using baka player 2.0.3.

There are privacy concerns with storing the info and it would be nice if there was an option to not do it.

[2015-10-10 13:32] u8sand commented on #163
Set maxRecent option to 0 in settings to disable the feature.

[2015-10-10 13:35] u8sand commented on #162
this feature will only work if you're somewhere in the middle of the file. there may however be a bug that when you x-out it doesn't save, I will investigate this.

[2015-10-10 13:47] mhogomchungu commented on #163
I see no such option,where is it supposed to be?

[2015-10-10 13:54] u8sand commented on #163
In the settings file, located in ~/.config/bakamplayer.ini  on Linux or
with the exe on windows.
On Oct 10, 2015 9:47 AM, "mhogomchungu" <notifications@github.com> wrote:

[2015-10-10 16:33] godly-devotion commented on #163
I'll add an option under Preferences.

[2015-10-12 00:27] godly-devotion commented on #139
Smart playlist was designed to be an integral part of Baka MPlayer. Therefore it was designed in a way to use resources as little as possible. You may have noticed we do not allow users to create their own playlists. Allowing automatic playlist to be disabled will make the playlist useless.

[2015-10-12 00:27] #139 closed

[2015-10-12 00:35] #140 closed

[2015-10-12 00:39] godly-devotion commented on #121
@VeralianIV As you say it is already possible. Many torrent clients allow you to download the file in sequential order so you can watch while its downloading. And as `mpv` is really good at playing downloading/broken files Baka MPlayer is naturally really good too. Maybe we'll add Peerflix support in the future but that is low priority as of now.

[2015-10-12 00:39] #121 closed

[2015-10-12 00:43] godly-devotion commented on #146
As @u8sand has noted, you can add your own custom Key Bindings. I personally don't think having an option to save Aspect Ratio would be useful as every video's aspect ratio is different and can lead to annoyance later on.

[2015-10-12 00:43] #146 closed

[2015-10-17 16:52] #163 closed

[2015-10-17 17:20] #162 closed

[2015-10-17 17:35] #135 closed

[2015-10-17 18:14] u8sand commented on #158
@alexzeitgeist I've successfully implemented this in the other branch but there are a few things that need to be fixed.

1. I called it "windowed" which is horrible, not sure what to call it
2. the auto-hide playlist works very strangely, how SHOULD it work?

To test this, checkout the windowed-fullscreen branch and add to your bakamplayer.ini-> `"windowed": true`.

Please see if you can test this

[2015-10-17 19:11] #157 closed

[2015-10-17 19:16] u8sand commented on #134
@gothmog123 though I think this would be nice; mpv has taken the "no-fix" stance saying that it is a video player not an audio manager.

Check the softvol branch and tell me if that works on your platform--on mine, mpv softvol even with JUST mpv doesn't work.

[2015-10-17 19:21] u8sand commented on #133
I'm not sure I know what is SUPPOSED to be saved/not; could you outline this for me--then I can go about implementing it.

[2015-10-17 19:26] #92 closed

[2015-10-17 20:00] #145 closed

[2015-10-17 20:00] u8sand commented on #145
Not sure if the transition works properly, but removing mpv/screenshot-{template,directory} from bakamplayer.ini will reset it and make it work.

[2015-10-17 20:12] #148 closed

[2015-10-17 20:13] u8sand commented on #148
@amazingfate please get back to me and tell me if that fixed it--QFontMetrics doesn't give me the right result so it really is just guess and check.

[2015-10-21 16:05] alexzeitgeist commented on #158
@u8sand, congrats, that was fast.

1. How about any of the following: "borderless", "borderless windowed", "no decorations",  "no window decorations"

2. I'll check it out as soon as I find some time.

Cheers,

[2015-11-07 07:03] Mirenkorax opened #166 "[Feature request] Automatically add external audio"
I have a file that comes with external .mka audio, and I can't load it through the front-end. This is my first ever issue report on here, I just made an account, sincere apologies if I should not have done this or wasted anybody's time.

[2015-11-07 15:40] #166 closed

[2015-11-07 15:41] u8sand commented on #166
@Mirenkorax can you just confirm that this works for me, I don't really have a .mka lying around to test it--it should work because it's very similar to subtitles.

[2015-11-07 16:15] Mirenkorax commented on #166
Adding external audio works. It dosen't recognize .mka files though, so I had to extract the AC3 audio from it to test it.

[2015-11-07 16:24] u8sand commented on #166
@Mirenkorax ahh, I'll add mka to the list

    {"*.mp3","*.ogg","*.wav","*.wma","*.m4a","*.aac","*.ac3","*.ape","*.flac","*.ra", "*.mka"}

any others missing?

[2015-11-08 15:23] mc4man opened #167 "Does not get vo or hwdec settings from ~/.config/mpv.conf with recent libmpv1"
This is seen here with libmpv1 from mpv  0.11, 0.12, git master.  So baka just uses a vo of opengl
With libmpv1 from mpv 0.10 baka does use the vo & hwdec specified in ~/.config/mpv.conf

A fresh bakamplayer.ini from 0.11 > git master shows this -
   "mpv": {
        "screenshot-directory": ".",
        "screenshot-format": "",
        "screenshot-template": "screenshot%#04n",
        "speed": 1,

[2015-11-08 16:16] u8sand commented on #167
@mc4man we've never got settings from mpv's config file, this is largely intended. What, specifically, would you be interested in changing?

[2015-11-08 20:06] mc4man commented on #167
That's wierd then - on libmpv from 0.10 if I make a change in mpv.conf concerning vo or hwdec it's reflected in baka. For instance if I set vo=vdpau then baka shows vo of vdpau, if I set to opengl-hq then baka shows opengl-hq. (in the view >

[2015-11-08 20:10] mc4man commented on #167
Sorry, went to ck. on something before finishing comment above & it posted anyway?
Meant to say in view > Show playback info (tab)
So am a bit confused as how to enable hwdec or change the vo from opengl if not thru ~/.config/mpv.conf or manually editing the .ini.

[2015-11-27 01:16] godly-devotion commented on #133
Basically if playlist is shown and full screen is triggered, Baka MPlayer should remember whether or not the playlist was shown or not before going into full screen so that when the user leaves full screen it can show the playlist if it was shown before.

[2015-11-29 17:54] #158 closed

[2015-11-29 18:10] u8sand commented on #133
Fixed in bffa23688795bdb341e73e1265db4394ba53cfc8

[2015-11-29 18:10] #133 closed

[2015-12-07 08:49] amazingfate opened #170 "can't right click mouse to stop when hide all controls"
it becomes to act like full screen

[2015-12-07 12:36] u8sand commented on #170
@amazingfate if you could--how would you access the menu?

[2015-12-07 14:48] amazingfate commented on #170
just ctrl+H to get the menu ;3

[2015-12-07 15:18] u8sand commented on #170
haha @godly-devotion should this be an option or just changed functionality? I personally never even use the menu--so I'd use hide all controls and forget about the existence of a menu entirely.

[2015-12-07 23:40] godly-devotion commented on #170
We will be allowing click customization based on certain modes (normal, full screen, etc). So you will be able to map your left, center, and right mouse buttons to show/do whatever you want.

[2015-12-10 20:19] mikhail21393 opened #171 "Download Subtitles from Baka-MPlayer"
It would be nice to see if there is a subtitle downloader inside Baka-MPlayer. Consider this as a request!

Thanks in advance!

[2015-12-11 09:22] blackarcher21 opened #172 "player stop working if there is mpv.conf with entries"
I set configuration files (mpv.conf) for mpv with many configuration entries. When I try to play video with Baka MPlayer, it stop working immediately.

Windows 8.1 64-bit, Baka MPlayer 2.0.3 64-bit

[2015-12-11 11:41] godly-devotion commented on #172
@u8sand What if we honored `mpv. conf` but overrode only the mpv entries inside Baka's settings file?

[2015-12-11 14:36] u8sand commented on #172
@godly-devotion well it seems to me--if mpv.conf is affecting baka at all then that's already what's happening.
@blackarcher21 I'll investigate this issue.

[2015-12-13 16:20] chair96 opened #173 "Subititles Squished Together"
I'm getting this issue where the subtitles on top are squished completely together. Making the font size smaller sorta fixes this but then the bottom subtitles are extremely small. Wondering if anyone knows how to fix this without messing up the bottom subtitles. http://imgur.com/JiYxOAo

[2015-12-13 16:33] u8sand commented on #173
Interesting... I believe mpvs font size property is for all fonts, this seems like weird libass use-case. I'll see if this is something we can fix here, else we'll direct it towards mpv.

[2015-12-13 17:27] chair96 commented on #173
Alright thanks. I just tested the same file on the windows version and the subtitles worked completely fine but on arch linux they are completely squished for some reason

[2015-12-13 17:30] u8sand commented on #173
That's funny because i develop this on arch and don't use windows. Might it be related to a missing font?

[2015-12-13 17:39] chair96 commented on #173
I guess so, I am getting the same issue with multiple different players. Is there a package I can install that would have the right font?

[2015-12-13 18:04] u8sand commented on #173
Noting the following link: https://mpv.io/manual/master/#options-osd-font
What may be happening is that they didn't specify a font and so the default sans-serif font is being used. The Window's version uses Noto Sans, to emulate this on the linux version after installing `noto-fonts`, in `~/.config/bakamplayer.ini` add...

    ...
    "mpv": {
        ...
        "osd-font": "Noto Sans"
    },

[2015-12-13 19:04] chair96 commented on #173
Is this correct?http://imgur.com/LCWYFiG

I installed noto-fonts and added the line to the bakamplayer.ini but the problem persists.

This is what the command line says when I play the OP:

[mpv]: Playing: /mnt/media1/Torrents/Kateikyoushi Hitman Reborn (DVD 576p) (Kyuu9Jango)/(Hi10)_Kateikyoushi_Hitman_Reborn_-_OP01_(DVD_576p)_(Kyuu9Jango)_(9EB96F11).mkv
[mpv]:  (+) Video --vid=1 (*) (h264)
[mpv]

[2015-12-13 19:12] u8sand commented on #173
Your config looks good.

I wonder why it ignored the font entirely and went for DejaVuSans--still that tells us that the subs are looking for MV Boli and Tahoma both of which are being replaced by DejaVuSans so we may be on the right track.

maybe try `sub-text-font` instead of `osd-font` in the config.

[2015-12-13 19:32] chair96 commented on #173
Ok so I changed it to sub-text-font int he config:http://imgur.com/m5uIFXv

However, it still looks like this:http://imgur.com/Ln0lX5w

The command line does say it's using the noto fonts though.

[mpv]: Playing: /mnt/media1/Torrents/Kateikyoushi Hitman Reborn (DVD 576p) (Kyuu9Jango)/(Hi10)_Kateikyoushi_Hitman_Reborn_-_OP01_(DVD_576p)_(Kyuu9Jango)_(9EB96F11).mkv
[mpv]:  (+) Video --vid=1 (*) (h264

[2015-12-14 05:40] blackarcher21 commented on #173
yes, I also guess it might be related to a missing font. I guess you need to install additional fonts (for example. ttf-ms-win10 from AUR)

[2015-12-14 13:18] u8sand commented on #173
As long as you have those two fonts `Tahoma` and `MV Boli` you should get the intended effect by the subber. Most subtitles come with the fonts embedded (in the mkv), i suppose this one expected you to have the font. I would expect blackarcher21's suggestion to work.

[2015-12-14 22:57] chair96 commented on #173
I downloaded the two fonts and now it displays correctly. Thanks for all the help u8sand and blackarcher21 :)

[2015-12-14 23:31] #173 closed

[2015-12-15 07:03] dragons4life opened #174 "Not really issues, rather questions."
How can I add sharpening? with a mpv.conf?
What do motion interpolation and deinterlance do?

Anyway you can make it so that on fullscreen whenever you hover over the seekbar/volume and stuff it doesn't change the aspect ratio? (basically make it on be on top of the video) this would be a request, but it's fine if other users like the way it is, is not that annoying.

[2015-12-15 16:32] ConundrumAdInfinitum opened #175 "Current item on Playlist illegible due to text color."
Baka MPlayer version 2.04 64bit Windows:

With this version of the player I notice what appears to be an error...

While playing video, if the Playlist is open, the Current title's filename/title is in Black text, not White (or the intended color of) text. This unfortunately makes the title illegible.

[2015-12-18 20:19] DrabWeb commented on #160
Im also having the same problem. I have however dug up some information that may be useful.

All my dependencies were installed through homebrew
When it hangs, I leave it for a minute and then force quit it. After it is quit, it creates a hang report at ``` /Library/Logs/DiagnosticsReports/ ```. My file reads

[code]
The problem still persists even after reinstalling QT5 through brew, and rebuildi

[2015-12-19 16:35] godly-devotion commented on #175
This bug has been fixed in cb42b76. You can redownload Baka MPlayer from our website to get the fixed build.
What happened was that we initially released 2.0.4 with this bug. After noticing the bug and fixing it, we updated the builds on the website (and GitHub) to so that the fix was incorporated into it.

[2015-12-19 16:35] #175 closed

[2015-12-20 18:12] Flat opened #176 "Doesn't autofit on opening video"
On Windows 10, baka-mplayer will not autofit the video to 100% the player opens 100% of screen height and does not match the video height. Setting the player to manually auto-fit:100 after the video is opened works fine.

[2015-12-20 18:14] Flat commented on #139
While this is marked as wontfix it'd be really nice to have an option to hide the playlist window on startup especially considering there's a UI button and a hotkey to open it. If not I suppose I can always just make my own fork.

[2015-12-20 18:16] u8sand commented on #176
@Flat just confirming you have autofit enabled in the preferences. I may have experienced this myself though.

[2015-12-20 18:20] Flat commented on #176
@u8sand Autofit is indeed enabled and this happens with videos that are wide screen as well. as shown here.
![1450635508kwm](https://cloud.githubusercontent.com/assets/2048861/11919286/53b2b152-a71c-11e5-9195-a09713226687.png)

[2015-12-20 18:23] u8sand commented on #176
@Flat this seems to only happen to me in hide all controls mode (and it seems to be happening because they playlist is open when it fits then it closes). Can you confirm that this is indeed what is happening on your side?

[2015-12-20 18:28] Flat commented on #176
Hide all controls mode is not active for me and is set to false in the ini.

[2015-12-20 19:23] u8sand opened #177 "Fontconfig is broken in win binaries for v2.0.4"
The patches were thrown out, at release time because the issues were seemingly fixed and the patches weren't applying.

I'll need to fix those patches and recompile.

[2015-12-20 19:24] #177 closed

[2015-12-20 20:38] u8sand commented on #167
This is related to #172 --it has to do with mpv/conf being used at all. Both will most likely be fixed at the same time.

[2015-12-20 22:01] mc4man commented on #167
Using reasonably current all, (ubuntu 16.04, baka 2.0.4, libmpv 0.14),  I can say that baka doesn't use mpv.conf nor is it affected at all by mpv.conf in any way I can tell which is ok, many options/profiles/protocols in my mpv.conf would be of no use to baka anyway.
baka does do a good job with hwdec (hwdec=auto), actually a bit more efficient than mpv in many cases. So if it's ok to add hwdec=so

[2015-12-20 22:51] u8sand commented on #167
@mc4man @godly-devotion would it make sense to have a tab for mpv settings and just have a textbox where you can put mpv settings in mpv's format in the preferences dialog?

[2015-12-20 23:03] u8sand commented on #174
mpv configurations can be added in json form to the .ini. (I'm considering adding accessibility to this in the gui #167)

If you already have an mpv config it's easy
`key=value` -> `"key": "value"`  in bakamplayer.ini in `"mpv": {...}`

From mpv's manual,
You can sharpen it w/ software with: `sws-ls` or `sws-cs` [-100 to 100]: eg. `"sws-ls": 50`
You can sharpen it w/ your vo driver (assuming openg

[2015-12-20 23:49] godly-devotion commented on #167
Yeah I think that would be a good idea. It could be displayed as a table just like Key Bindings (key, value pair).

[2015-12-21 00:12] mc4man commented on #167
That could work, I'd probably like to see/test what would happen if 'wrong' combo of hwdec & gpu or hwdec & vo were user picked.
If possible to note for hwdec that the preferred/recommended setting  would be "auto"  that would also be good & eliminate any issues of a user mismatched hwdec selection & gpu in use.

[2015-12-21 00:21] u8sand commented on #167
@godly-devotion my main motivation for just a textbox, is plenty of users may already have perfectly good mpv configurations, they should be able to copy and paste those in baka.

[2015-12-21 03:18] Flat commented on #176
@u8sand After some more looking into it looks like this bug is only present when the playlist window opens first.

[2015-12-21 11:24] godly-devotion commented on #167
@u8sand You bring up a good point where users may already have a mpv config file they might want to use. What if we just respected that config file (maybe allow them to specify the location of the config file if they placed it elsewhere under Pref) but override only the values that need to be from Baka (which is already being done)?

[2015-12-21 19:06] u8sand commented on #167
@godly-devotion My issue with that is, the mpv config file is inherently different from baka's its keybindings are quite different, handling all of those would most likely be annoying.

We could change baka's settings file again to be exactly like mpv's configuration but with more options, then we load what is for baka and discard the rest.

We could also just have an config import function that p

[2015-12-22 20:25] dragons4life commented on #174
thanks

[2015-12-23 19:04] rdp commented on #123
(FWIW that Qt bug mentions they worked around using _vsnprintf_s and thus kept windows xp msvcrt.dll compatibility)

[2015-12-23 19:08] u8sand commented on #123
@rdp I had attempted to patch this to no avail. I'm also told mpv dropped xp support.

I'll try to build it with Stephen-Leibowitz's comment, but I don't plan on dedicating too much effort to this.

[2015-12-27 07:39] frerhen opened #180 "Can't add to playlist?"
I can't seem to add individual files or streaming links (like youtube) to the playlist, intended to play after the current item finishes.  Is there some way to do this that I am missing, or has the feature simply not been implemented yet?

[2015-12-27 16:28] u8sand commented on #180
@frerhen this features has yet to be implemented though, specifically, supporting youtube playlists is something we plan to add in the future. In terms of querying new items to play next, we've not considered it though it seems a viable feature.

[2015-12-29 06:13] Thirsk opened #181 "Holding tab causes the player to crash and another, hard to summarize issue."
Holding tab causes the player to crash. That's self-explanatory, so I'm going to leave it at that.

The second issue is strangeness that can be most easily explained with a screenshot https://i.imgur.com/lll5Wq0.jpg
It happened on Windows 7, 8.1, and 10. I couldn't be bothered to also see if it happens on any Linux distros, so I'll let someone else do that. To get it to happen, click the maximize

[2015-12-29 17:00] godly-devotion commented on #181
I've confirmed that both issues are reproducible.
The first issue will most likely be solved after we switch over from mpv overlay based code to drawing text ourselves. The second issue is indeed strange.

@u8sand What do you think?

[2015-12-29 17:04] u8sand commented on #181
I can't reproduce the second one on linux. It looks like a window refresh glitch which shouldn't be too difficult to fix. Forcing a refresh on full screen mode/off may fix this. I'll address them both when we switch to the mpv opengl context @godly-devotion mentioned. We can verify that they have both been fixed when that has been done.

[2015-12-31 16:38] klick4karma opened #182 "piping output"
i have a script that marks the stdout of songs i like when using mpv.  baka seems to trap stdout and writes a blank file.
suggestions?

[2015-12-31 18:42] u8sand commented on #182
@klick4karma I'm not sure I'm aware of this mpv feature, what are you hoping to get from stdout, the song itself? or some mpv output?

[2015-12-31 19:03] klick4karma commented on #182
im using " | tee -a mpv.log"  . to log streaming radio titles etc. works
fine when calling mpv.

baka, not so much.
On Dec 31, 2015 1:42 PM, "Daniel Clarke" <notifications@github.com> wrote:

[2015-12-31 19:05] u8sand commented on #182
@klick4karma I see, can you confirm that in the debugging console `Ctrl + \`` [default] the titles appear as you expect them to?

[2015-12-31 19:11] klick4karma commented on #182
im not at the computer, but the title s  do appear in the window bar...yes
On Dec 31, 2015 2:05 PM, "Daniel Clarke" <notifications@github.com> wrote:

[2015-12-31 19:13] u8sand commented on #182
@klick4karma Ok, it should be relatively easy to print mpv's output to stdout, I'll set that up--may even help with general debugging.

[2015-12-31 19:17] klick4karma commented on #182
thank you sir.

ill bug you about  mpv profiles another day
On Dec 31, 2015 2:13 PM, "Daniel Clarke" <notifications@github.com> wrote:

[2015-12-31 19:29] #182 closed

[2016-01-01 04:51] klick4karma opened #184 "piping commit"
the piping commit works
but
it breaks/stops the baka title bar and playback info from updating

[2016-01-01 06:04] u8sand commented on #184
I find that hard to believe as I edited nothing--just cloned debugging messages to stdout. Furthermore, I don't seem to be experiencing this issue.

Could you outline the steps to reproduce this issue?

[2016-01-01 06:39] klick4karma commented on #184
baka-mplayer | tee -a ~/Music/mpv.log

*example m3u*
#EXTINF:-1,Antenne
http://mp3channels.webradio.antenne.de:80/chillout

mpv.log ( title bar and metadata never change in baka )
[mpv]: Playing: http://mp3channels.webradio.antenne.de:80/chillout
[mpv]: Cache is not responding - slow/stuck network connection?
[mpv]:  (+) Audio --aid=1 (mp3)
[mpv]: File tags:
[mpv]:  icy-title: Max Melvin - Earth I

[2016-01-01 15:04] wb9688 commented on #161
Or maybe [Weblate](https://weblate.org/)?

[2016-01-01 16:13] godly-devotion commented on #161
To update the status of this issue, I am preparing the use of Transifex right now. However because we will be moving this project to a Github organization, I want to wait till then before we start utilizing it.

[2016-01-01 18:36] klick4karma commented on #184
fwiw
metadata is being written to .xsession-errors

<script src="//pastebin.com/embed_js/nTzDxGCJ"></script>

[2016-01-04 13:33] u8sand commented on #14
I've taken some steps into getting this to work in the two branches:
https://github.com/u8sand/Baka-MPlayer/tree/arch-travis
https://github.com/u8sand/Baka-MPlayer/tree/vanilla-travis

One step was adding our dependencies to the travis whitelist:
https://github.com/travis-ci/apt-package-whitelist/issues/2162
https://github.com/travis-ci/apt-package-whitelist/issues/2165

[2016-01-05 01:39] 2alin opened #185 "can't remember the last window's size"
I'm on Ubuntu 15.04, and I just tried this player since yesterday (I was using SMPlayer +mpv) and I found it a pretty good option as default video player, but there was only one thing that really annoyed me. The player can't remember the window's size or if it was maximized in the last session. So, everytime I open a video (even the same one) it maps the window to an exactly fixed small size (1/4

[2016-01-07 07:04] G500 opened #186 "need features"
Hello
Thanks for Baka-Mplayer. I've tried  Baka and need these feature . if baka have these feature it can be best player on Gnu/linux.
- Change coding subtitle
- Amplifier sound
- Advance setting for subtitle
- Transport subtitle menu from view to playback
- Designing new icon ( current icon is ugly)
- Add key on interface for add subtitle and external sound file
- Add detection automatic coding

[2016-01-07 20:03] #14 closed

[2016-01-08 20:33] u8sand commented on #184
Might you share the .xsession-errors? I cannot reproduce the title issue, nor do I get any .xsession-errors.

[2016-01-09 13:10] MissingNoIOI opened #187 "[Feature Request] Please add logging and command line arguments"
When you currently use Baka Mplayer on Linux there are apparently neither logging capabilities nor command line arguments save for the filename. At least for me it would be very useful if Baka Mplayer would give me any kind of informations on error, if it cant play a file right now it simply skips it and I have no idea why it does that. Is a codec missing? Is the file corrupt? It would be very hel

[2016-01-10 14:49] u8sand commented on #187
We've recently made Baka MPlayer output the same messages appearing in the debugging console to stdout (#184). If that information isn't verbose enough, please set the debugging level in the preferences dialog.

Though I've considered building a command-line system, I've yet to see a strong reason to do so, as a primarily graphical-based application it would feel redundant to have command line opt

[2016-01-10 14:53] wb9688 commented on #187
I think it's very useful, for example when you always want to play music
from a folder, you can make an shortcut for it and even Firefox has
commandline options...
Op 10 jan. 2016 15:49 schreef "Daniel Clarke" <notifications@github.com>:

[2016-01-10 14:55] u8sand commented on #185
We used to remember the screen size but removed it in favor of the automatic FitWindow feature. I would recommend, if the videos you usually watch are much smaller than your screen--setting the autofit window percentage to be 200% or whatever tends to work. Please note that when your video is open you can automatically scale it proportionally to your screen with Alt+1/Alt+2/Alt+3/... (bigger).

I

[2016-01-10 14:56] u8sand commented on #187
@wb9688 as you can open a directory with baka-mplayer you can already do that, what would the command-line flags be trying to do?

[2016-01-10 15:01] wb9688 commented on #187
@u8sand Open the directory on startup.
And when we have commandline arguments, we can use the open with feature of our file manager...

[2016-01-10 15:06] u8sand commented on #186
I'm sorry @G500 but you're going to have to elaborate for me as most of your list has me baffled.

The icon looks good in my opinion so that will only be changing at our discretion, same goes to the "theme."

Though we've considered single instance mode, we decided against it. I, for one, use multiple instances regularly, condensing instances into one process has no benefits that I can see. It's t

[2016-01-10 15:09] u8sand commented on #187
Not sure I was clear--the current state of baka-mplayer's "command-line-arguments" is as follows:

`baka-mplayer [file-or-directory]`

eg. `baka-mplayer myfile.mkv` or `baka-mplayer .`

[2016-01-10 15:10] wb9688 commented on #187
Oh, didn't know that...
Op 10 jan. 2016 16:09 schreef "Daniel Clarke" <notifications@github.com>:

[2016-01-12 08:42] 2alin commented on #185
Yup, I've being using FitWindow at 200% and Ctrl+D; some videos with 100% are enough, but some doesn't and I find it troublesome to change the percentage, even with keyboard shortcuts everytime I open a video. Your player is better than SMPlayer manipulating x265 videos and the audio in your player is better too, so I'm going to stick with it for a while.

But I still prefer the normal "rememberin

[2016-01-13 18:01] FeiWongReed opened #188 "What about wayland support?"
baka-mplayer crashes under wayland for now while mpv itself works successfully.

[2016-01-14 23:17] ConundrumAdInfinitum opened #189 "Playlist Scrollbar doesn't track the location of the current playlist item"
On Windows 10 Pro 64bit, Baka-MPlayer

"Baka-MPlayer.x86_64.v.2.0.4 playlist fix" version

If you have the Playlist panel open, the Scrollbar doesn't track with the current Playlist Item. If you close  the Playlist, or go Fullscreen, and reopen the Playlist, it does not display the Current Item at the top of the Playlist roster/menu.

Major functionality handicap if using a Large playlist

Screens

[2016-01-16 16:03] duyfken commented on #185
I have to agree it would be great to either have it remember "when the FitWindow feature is disabled" as 2alin mentioned or at least have some option to remember the previous window size. I previously used this on MPC-HC and bomi to set window size to 1280x720 on my 2560x1080 ultrawide (to take up half the screen and leave space for doing stuff as well) and having to resize the window every time i

[2016-01-16 18:19] u8sand commented on #185
Should I also save position on screen, or just center it with your old size?

[2016-01-17 08:04] 2alin commented on #185
I think for a better wide range of personalization, it would be better to remember the size as well. Some people would love to put a file explorer at the left of the screen and the player at the right, while browsing files in multiple directories, and remembering size and position will make the video browsing smooth as heck.
And thank you for reading our opinions, u8sand.

[2016-01-17 08:25] 2alin commented on #186
I love the icon, I think it matches the unity theme on my computer. It's simple, dark and distinctive. I don't have problems with the sound, it sounds even higher than SMPlayer or VLC (Ubuntu 15.04). I like the theme as well, dark one makes me appreciate better the video. I don't use the "add external sound files" options in players, but yup it could be helpful for someone. Same thing with multipl

[2016-01-27 13:04] sl1pkn07 opened #190 "Add support for MPRIS (dbus)"
Hi

is possible add support for control/obtain playback info of the player over MPRIS/DBUS?

http://specifications.freedesktop.org/mpris-spec/latest/

greetings

[2016-01-28 16:00] dragons4life opened #191 "Not really an issue, but which one is the 64 bit of the releases?"
Kinda confuse..

Also have being trying to merge my mpv.conf with your player the only changes I am putting softvol=yes
softvol-max=300
--sws-ls=50
I put them on the "mpv" folder, but it doesn't work guessing I can't change settings of the player via a conf file?

I also tried doing it trough the bakamplayer.ini file in json, but it deletes the text added after reopening the player.

[2016-01-29 08:35] Chromace opened #192 "Playing audio without embedded album art causes player to crash"
The attached zip contains two audio files with only one difference between them: one has embedded album art (via a music tagger). Opening the one without the album art in Baka-MPlayer causes it to crash. Opening it in mpv causes no problems - it plays with a blank screen.

[Sample Music.zip](https://github.com/u8sand/Baka-MPlayer/files/109432/Sample.Music.zip)

[2016-01-29 10:52] aelog opened #193 "Segfault in libmpv with some mp3 files"
I'm on Archlinux, baka v2.0.4 and mpv v0.15.0.

In the attached files you can find the backtrace from the coredump and the valgrind log.
The crash seems to be in libmpv, so I installed debug symbols only for mpv. If you need debug symbols also for baka, let me know and I will install them.

[baka-backtrace.txt](https://github.com/u8sand/Baka-MPlayer/files/109593/baka-backtrace.txt)
[baka-valgrind.

[2016-02-01 01:04] godly-devotion commented on #192
The one **without** the album art causes it to crash? That's very odd. Also what OS are you using?

[2016-02-01 08:15] Chromace commented on #192
I am using Arch Linux.

[2016-02-01 16:46] suhr opened #194 "Youtube style video preview"
Make navigation less blind.

[2016-02-03 13:21] infinity0 opened #196 "Upload to Debian"
Hi, I'm a Debian Developer (with upload rights) and am interested in sponsoring or maintaining this package. I see you already have some Debian packaging files. Would you be interested in working with me to get this into Debian officially?

[2016-02-03 14:49] godly-devotion commented on #196
That would be awesome. Although I did attempt to create Debian packages I'm not sure if it needs to be fixed.

[2016-02-03 15:32] infinity0 commented on #196
Great! I have filed an [Intent-To-Package](http://bugs.debian.org/cgi-bin/bugreport.cgi?bug=813591) and will go about reviewing the existing packaging soon, hopefully in the next few days.

[2016-02-03 16:34] godly-devotion commented on #196
Thanks.

[2016-02-03 18:47] luigino opened #197 "[Feature request]: allow mousewheel customisation"
As per subject, I think it would be nice to have an option to choose if the scrollwheel should seek back and forth instead of changing the volume. Also by a selectable value instead of the hardcoded 5 like in the latter.

[2016-02-05 12:48] Chromace commented on #193
Did those files have any embedded album art in them?

[2016-02-05 13:12] aelog commented on #193
@Chromace Nope. They are mp3 encoded (with lame) out of .wav voice recordings

[2016-02-06 00:19] Chromace commented on #193
This is just a guess, but does playing them with embedded album art work properly? It might be related to my issue.

[2016-02-06 09:42] aelog commented on #193
@Chromace Can you suggest me an app to do so? I'm not familiar with mp3 embedding :)

[2016-02-06 09:50] Chromace commented on #193
Kid3. That's what I use.

[2016-02-06 09:57] aelog commented on #193
@Chromace You're right! After embedding a picture in the mp3, Baka does not crash anymore!

[2016-02-06 09:59] Chromace commented on #193
Looks like it's similar to my issue. ( #192)

[2016-02-07 21:48] infinity0 commented on #196
Hey I just had a look and (with some tweaks) it builds well. Thanks! Some things that should be fixed upstream before I can upload it to Debian are:

- the translation files mention things like "Material Design icons" "Retro Cassette image" where the copyright belongs to other people, however I can't find these resources in the actual baka repo. The text seems to be copied from mpv; if it's not ap

[2016-02-07 22:33] infinity0 commented on #196
Oh another thing, please could you clarify if the license is "GPL-2 only" or "GPL-2 or later"?

[2016-02-07 23:27] infinity0 commented on #196
One more minor thing that I missed:

- The Makefile should remove `src/translations/*.qm` when doing `clean`, since it gets created by it too.

[2016-02-07 23:43] infinity0 commented on #196
https://mentors.debian.net/package/baka-mplayer - preliminary package here and once we've resolved the above, we can upload.

[2016-02-09 23:04] godly-devotion commented on #196
Thanks for getting back to us.

- Some svgs I used originated from Google's Material Design icon repo (albeit modified by me). Retro Cassette image refers to `/src/img/album-art.png`.
- I guess that could be removed. I did code the UI (css) with Noto Sans font in consideration (ex. the index numbers on next/previous buttons). I'm not sure whether we should install it for the user, set it as option

[2016-02-10 09:47] Chromace commented on #193
I'm going out on a limb but...do the audio files (without album art) make Baka crash, but work fine in mpv?

[2016-02-10 09:52] aelog commented on #193
@Chromace
Yes, they can be played with mpv just fine.

[2016-02-10 12:36] godly-devotion commented on #181
I was just able to reproduce the second issue. However this occurred when I went into full screen mode on another monitor. Showing and hiding the playback controls would show the same UI glitch.

[2016-02-10 12:37] godly-devotion commented on #193
@aelog @Chromace After reading both your issues I believe it is the same issue as #181. This will hopefully be fixed when we switch over from mpv overlay based code to drawing text ourselves via QML.

[2016-02-10 12:39] Chromace commented on #193
@godly-devotion What will mpv be responsible for after that?

[2016-02-10 14:30] godly-devotion commented on #193
@Chromace mpv is still our main playback engine. We were using mpv's overlay system to show status and album art but that is currently causing issues so we will handle that part ourselves.

[2016-02-10 14:32] Stephen-Leibowitz commented on #123
I tried 32-bit Baka 2.0.4 on Windows XP. Compared to 2.0.3, there are additional problems preventing it from running. The error message is: “This application has failed to start because AVRT.dll was not found.” AVRT.dll first appeared in Windows Vista.

I then copied AVRT.dll from the SysWOW64 directory on a Win 7 machine to the Baka directory on the Win XP machine. I ran Baka 2.0.4 again and the

[2016-02-10 18:48] infinity0 commented on #196
- svgs / other resources: whoops, yes I was a bit slack in looking for those, thanks for the pointers.

- noto sans font: Debian has a `noto-fonts` package so I will just use that and ignore the copy here. IMO best practise would be to remove the embedded copy and tell your users to install it like any other dependency - just like how you list youtube-dl as optional in README. (Google changed the

[2016-02-10 21:07] Chromace commented on #193
@godly-devotion This might be a silly question after that, but does that mean mpv will still be responsible for displaying subtitles? Thanks.

[2016-02-11 00:10] godly-devotion commented on #193
@Chromace Yes. Subtitles and overlay code are different.

[2016-02-13 03:00] godly-devotion commented on #196
Code structure is not radically different, just trying to decrease dependency between classes. As for license, I'm not actually sure. We chose GPLv2 just because of the fact that it allows it to be always distributed as FOSS.

[2016-02-13 12:25] wb9688 opened #198 "With 320 kbps .mp3's, it shows they're 320000 kbps"
When I play a 320 kbps .mp3, Baka-MPlayer shows it's a 320000 kbps .mp3:

![](http://i.imgur.com/cy3RMQC.png)

[2016-02-13 14:16] u8sand commented on #198
Looks like mpv is reporting it in bps instead of kbps for that file. And it almost seems like it's always been like that i'll fix it.

[2016-02-13 14:19] #198 closed

[2016-02-13 14:26] u8sand commented on #188
I'm assuming you've added the relevant Qt compilation flag; the other thing that would cause it to crash is the X11 specific code in `src/platform/linux.cpp`

Can you confirm that it works when you apply this patch?

	diff --git a/src/platform/linux.cpp b/src/platform/linux.cpp
	index 0321f9d..6f370a1 100644
	--- a/src/platform/linux.cpp
	+++ b/src/platform/linux.cpp
	@@ -7,9 +7,6 @@
	 #include <Q

[2016-02-13 14:32] u8sand commented on #193
We'll just merge these two issues with #192

[2016-02-13 14:32] #193 closed

[2016-02-13 14:37] u8sand commented on #192
@Chromace It interestingly doesn't crash on my system (I also use ArchLinux). Regardless the culprit is most likely our overlay handler. Overlay handler uses mpv's add-overlay system to overlay the video through mpv. It's really messy and a bad way to do it but it was the only way at the time; now we can obtain an opengl device context from mpv and overlay it in a normal way.

This is part of an o

[2016-02-13 14:40] u8sand commented on #191
@dragons4life make sure the player isn't running when you modify the config. Then run it and when you close it your settings should have been saved. (It loads settings on startup and saves them on close)

it would go under `mpv`: `"mpv": { "softvol-max": 300, ... }` But I've played around with softvol myself and  it have never worked for me (in baka or mpv). It also doesn't seem like the mpv proje

[2016-02-13 14:48] u8sand commented on #190
I like this, I will implement this when I get a chance. It may be a little while though.

[2016-02-13 15:46] godly-devotion commented on #196
Also I spoke with @u8sand and it seems it's going to take a while because we're both busy. Honestly speaking I don't mind if Baka isn't packaged as I find mochi-player to be much superior.

[2016-02-13 23:52] Chromace commented on #192
@u8sand Thanks. I know a little more now (always good).

Why might Baka be fine playing audio with album art, but not without?

[2016-02-14 18:05] u8sand commented on #192
Largely has to do with the overlayhandler.  When there is album art, we write to a virtual image and then we pass that image on to mpv to display it, later on we take it out and delete the image (all very messy).  When there is no album art, mpv doesn't do any displaying whatsoever, so we create our own image then we overlay it. If mpv reports that there is an image when their isn't it might crash

[2016-02-15 06:30] dragons4life commented on #191
ahh it's fine thanks @u8sand

[2016-02-16 23:38] godly-devotion commented on #194
I found an interesting paper regarding this feature http://vidosearch.com/publications/keyframe-navigation-tree.pdf

Main points extracted (see Fig 1):

- Users typically navigate in a coarse-to-fine grained manner. They first try to quickly narrow down the search to a specific temporal area and then switch to closer inspection of that area.
- In order to make sure that the keyframes give a good r

[2016-02-17 19:21] Love4Taylor opened #199 "proxy for player"
need proxy for youtube

[2016-02-17 21:04] mc4man opened #200 "baka segfaults on audio only files with libmpv-0.15"
Could be a moot point if baka is done.
Otherwise simply initiated by trying to open any audio file, either from baka menu or context menu on a file
[bt1.txt](https://github.com/u8sand/Baka-MPlayer/files/135147/bt1.txt)

[2016-02-19 10:44] Chromace commented on #200
@mc4man Does your audio file cause mpv to crash? Also, how do audio files with embedded album art fare?

[2016-02-21 00:38] godly-devotion commented on #200
@mc4man So according to the title of the issue, were you able to confirm that this only occurs with libmpv-0.15? Because I'm also getting a lot of segfaults with audio files too.

[2016-02-21 01:05] mc4man commented on #200
Yes, libmpv-0.14 works just fine. With 0.15 virtually all audio files
cause a segfault, the exception here I've 1 mp3 that does work, I can't
figure out why??
(- if helpful I can upload the 1 working file some where

On 02/20/2016 07:38 PM, Joshua Park wrote:

[2016-02-21 01:06] Chromace commented on #200
@mc4man Might you upload the file please?

[2016-02-21 01:15] mc4man commented on #200
It's at home, I''ll upload & post link here when I get back, ck. in
about 13 hrs.

On 02/20/2016 08:06 PM, Chromace wrote:

[2016-02-21 01:58] godly-devotion commented on #200
@mc4man I took a look at the stack trace and I think this bug is on mpv. Most likely will have to wait until they release libmpv-0.16 to see if they fixed it.

[2016-02-21 02:00] godly-devotion commented on #200
@mc4man Could you try creating an issue with mpv? This bug probably occurs only in libmpv but not mpv itself, but I'm not exactly sure.

[2016-02-21 16:17] mc4man commented on #200
I could start an issue but maybe first take another look as gnome-mpv with libmpv-0.15 is fine on audio only.
The one file turned out to be an .m4a, forget it's history other than I think I may have added some album art.
Any uploaded link below, the 2nd file is the orig. remuxed into mkv with ffmpeg, it also plays ok but I notice a window first opening, then closing (segfault of sorts?), then baka

[2016-02-21 19:25] godly-devotion commented on #200
I did some digging in our code along with the stack trace @mc4man gave me.

Here Baka tries to get the file's width & height: https://github.com/u8sand/Baka-MPlayer/blob/master/src/mpvhandler.cpp#L798.
According to mpv's man, `mp.get_property(name [,def])` will return the string on success, or def, error on error. def is the second parameter provided to the function, and is nil if it's missing. Th

[2016-02-21 21:13] u8sand commented on #200
The values are 0 when there is no art, that's how I test for it in the FitWindow code and the like. Unless it's actually undefined and coincidentally 0 for most of the time.

[2016-02-22 07:35] Chromace commented on #200
@mc4man Completely unscientific view here but...the m4a causes Baka to crash when I remove the album art? However, mpv works fine with it.
[01-Sympathy_for_the_Devil.m4a.zip](https://github.com/u8sand/Baka-MPlayer/files/140233/01-Sympathy_for_the_Devil.m4a.zip)

[2016-02-25 10:13] chinese-soup opened #201 "Segfaults on Debian Jessie"
Hello.
I am running Debian jessie.
I am getting random segfaults upon loading some files, sometimes the same files open correctly and sometimes they don't. Changing the volume while having a file that actually plays open always causes a segfault.

**ldd /usr/bin/baka-mplayer**
[https://gist.github.com/chinese-soup/fedb519eba824fa53552](https://gist.github.com/chinese-soup/fedb519eba824fa53552)

**

[2016-03-15 20:26] u8sand commented on #199
@Love4Taylor I'm not sure I understand what it is you're looking for, could you please elaborate?

Youtube support is provided by youtube-dl, if you're asking to be able to pass the `--proxy` flag, add the following to your `bakamplayer.ini` in the `mpv` section:

    "ytdl-raw-options": "proxy=your_proxy"

[2016-03-15 20:33] u8sand commented on #201
@chinese-soup are you able to compile baka-mplayer on Debian or do you need us to try and get you a binary?

The new version of baka outputs logs to stdout allowing us to directly obtain mpv debugging information, that information would reveal the error much more quickly than `strace`.

[2016-03-15 20:38] u8sand commented on #200
@mc4man the latest version of baka (on master) generates debugging information, can you send us the log on stdout after this crashes? If you need I can create a binary for you just tell me what OS.

[2016-03-15 20:44] u8sand commented on #192
As mentioned a few other issues, the best way to debug baka is getting its own outputted debugging information (put on stdout). You'd have to compile from master--(as you're on archlinux this would be from AUR: `baka-mplayer-git`).

[2016-03-15 20:45] #191 closed

[2016-03-15 20:45] #187 closed

[2016-03-15 21:16] LoathingKernel commented on #167
In my opinion you should not load the configuration for mpv simply because the player part of mpv and baka are not the same program, their only similarity is that they are both using libmpv as a back-end. So, in my mind, different programs = diffenent configurations. For example, SMPlayer doesn't honor mplayer.conf.

I do not think a textbox would be a good idea, it makes editing the configuration

[2016-03-15 21:30] u8sand commented on #167
@LoathingKernel JSON's tree structure has another benefit; consider this gist: https://gist.github.com/u8sand/dd8623c13c242b2e0697

It may be possible with QMetaProperties to define all save-able object properties with Q_PROPERTY and enumerate through them for loading/saving.

I like the idea of importing some of mpv.conf and think we should try to put anything configurable in the Preferences Dial

[2016-03-15 22:21] LoathingKernel commented on #167
@u8sand Yes, I see what you mean and completely agree, this simplifies the way settings are handled, and enables you to add new properties in an easy way.

Putting anything configurable in the settings might be a huge task, mpv configuration options are numerous, confusing and, many of them, obscure. Baka tries to be simple and enjoyable and adding numerous knobs and switches is a step away from t

[2016-03-15 22:51] godly-devotion commented on #167
So to summarize @u8sand and @LoathingKernel, we will add ability under Preferences to select a mpv config file you'd like to use. Great part is this is relatively easy to do.

[2016-03-16 02:16] mc4man commented on #200
put up a fresh build of git-da76201 but unclear on where I'm to find this debug info or log
( can test on ubuntu 16.04 or 14.04

[2016-03-16 02:20] u8sand commented on #200
@mc4man after setting debugging level in preferences to debug
![screenshot_2016-03-15_22-17-29](https://cloud.githubusercontent.com/assets/1341861/13800076/bd54e7ce-eafb-11e5-990b-406bd63612b4.png)

Or setting it in your settings `{"mpv":{"msg-level": "debug",...},...}`

Just run baka from the command line (you can send output to a log if you like)

`baka-mplayer > error.log`

Then `error.log` wil

[2016-03-16 02:32] mc4man commented on #200
Yeah, I had set it to debug & an error.log is created upon baka opening. Unfortunately once an audio file is selected it immediately segfaults & nothing additional is written to the log file.
(- if I try baka-mplayer > error.log /path/to/filename then the log is created but empty

[2016-03-16 02:35] u8sand commented on #200
@mc4man interesting... you're opening from the interface right? not: `baka-mplayer file.m4a`

mpv reports some information before any video is even played.

[2016-03-16 02:43] mc4man commented on #200
Yeah, so here's the log in the former case. Once I then open a file in baka, (File > open file),  it segfaults & nothing additional goes to the log.

[error.log.txt](https://github.com/u8sand/Baka-MPlayer/files/175207/error.log.txt)

[2016-03-16 02:56] mc4man commented on #200
For comparison the one audio file I have that works the error log (truncated, the thousands of line afterwords where basically the same as last 7
I think this .m4a works because it is somehow treated a video file (has embedded art, though some other audio files with embedded art fail with the segfault

[error.log1.txt](https://github.com/u8sand/Baka-MPlayer/files/175221/error.log1.txt)

[2016-03-16 03:02] u8sand commented on #200
@mc4man Well that's not cool..  And strangely enough, neither of those files crash on my system.
I'll spend some more time trying to figure out that backtrace you initially gave.

Do ALL audio files that don't have embedded art crash on your system? Maybe you're missing qt-svg? (I'm grasping at straws). Do you know what version of mpv that is [for line: ../player/command.c:2441] Line 2441 doesn't

[2016-03-16 03:24] mc4man commented on #200
All audio files without art fail
Most but not all with art work. I just embedded art in another .m4a with
easytag & now it works
There are 2 qt-svg libs installed -
libqt5svg5 (5.5.1-2build1
libqt4-svg (4:4.8.7+dfsg-5ubuntu1
Generally always used mpv's so-called releases for libmpv to be used
with baka, so the bt would have been same source as used today, ie.
0.15.0-release.
https://github.com/mpv

[2016-03-16 12:23] u8sand commented on #200
Time to narrow things down, could you apply this patch https://gist.github.com/u8sand/2a4b57a25374eade2a9e

This simply comments out all the overlay code. This should narrow down the problem somewhat to the overlay or to either our album art image or mpv itself.

[2016-03-16 14:08] mc4man commented on #200
Here's 2 logs, I'm on a different machine during day
mp3
[error2.txt](https://github.com/u8sand/Baka-MPlayer/files/176080/error2.txt)
m4a
[error3.txt](https://github.com/u8sand/Baka-MPlayer/files/176081/error3.txt)
Both segfault at the last line.

Because this machine is a bit slower can see-
On tagged audio that works 1st a 'transparent window' opens, disappears, then a baka window that plays.
On

[2016-03-16 14:22] u8sand commented on #200
@mc4man sorry to burden you with this. One more thing to try than I'll get my hands on an ubuntu box to debug this personally.

	diff --git a/src/ui/mainwindow.cpp b/src/ui/mainwindow.cpp
	index 6c6b388..b2d3c3c 100644
	--- a/src/ui/mainwindow.cpp
	+++ b/src/ui/mainwindow.cpp
	@@ -376,6 +376,7 @@ MainWindow::MainWindow(QWidget *parent):
		                         albumArt = true;

[2016-03-16 22:17] mc4man commented on #200
just tried, still segfaults..

On 03/16/2016 10:22 AM, Daniel Clarke wrote:

[2016-03-18 11:21] Chromace commented on #192
@u8sand Using the master build, Baka MPlayer appears to be playing audio without embedded album art fine. Instead of crashing, a placeholder image is displayed. In fact, the regular community repository version of Baka also handles this audio fine, displaying the same placeholder image.

![without album art](https://cloud.githubusercontent.com/assets/16624211/13876118/0559cdee-ed56-11e5-9cf0-c6b27

[2016-03-18 21:03] u8sand commented on #192
@Chromace Yes, it is indeed strange. Someone else is having the issue https://github.com/u8sand/Baka-MPlayer/issues/200 though. We've tried a lot of things to little avail. I'll close this issue, any further developments can be mentioned in the other issue.

I'm glad it's working for you :+1:

[2016-03-18 21:03] #192 closed

[2016-03-20 09:07] ConundrumAdInfinitum commented on #185
Using "View > FitWindow > size" works, but I am a bit confused why "View > AspectRatio > size" isn't constraining the window to the exact ratio you select. I feel it would make sense to snap all the borders to the selected Aspect Ratio. Also, couldn't the FitWindow and AspectRatio items be condensed into one menu? Logically you would be "Fitting Window" to a percentage or available aspect ratio. I

[2016-03-21 06:53] petri152 commented on #201
Hey, I'm having the exact same issue. I've used the pre-compiled binary from the webpage and built from source, same issues.

[2016-03-21 12:24] u8sand commented on #201
@petri152 just to confirm those files don't crash with pure mpv. There is certainly something strange going on here, I seem to recall when I was getting it compiled on debian, the ones they had built had issues while the one I was able to compile myself was fine.. Maybe that is still present.

I think it's certainly time I get my hands on debian and try this out.

[2016-03-21 15:19] petri152 commented on #201
@u8sand Yeah, they work fine with mpv. Also, I should note, it worked fine on an installation of Debian I had last week but I needed to reinstall and it started happening. On this older installation the pre-compiled binary would crash but when I compiled it myself it would work fine.

[2016-03-22 13:55] jbeich commented on #196
Without "or (at your option) any later version" clause documented somewhere the code is incompatible with GPLv3 or whatever version FSF issues later. Not sure if it applies to libavcodec, as used by libmpv, which may contain GPLv3 codecs (see --enable-version3). However, adding the clause now is probably the same as changing license i.e., it requires agreement from all past contributors[1]. IANAL,

[2016-03-22 14:05] u8sand commented on #196
@jbeich I don't believe either me or @godly-devotion are very familiar with the licenses. In the root directory we've had the LICENSE file, is that not enough to comply (also fyi https://github.com/u8sand/Baka-MPlayer/blob/master/LICENSE#L243 has that particular clause)? If we're missing something in particular, please point it out to us. We want to be in compliance with the licenses.

[2016-03-28 20:30] infinity0 commented on #196
@u8sand in terms of publishing source code, you are in compliance. However, a "GPL-2 only" license prevents people (including yourselves) from linking[*] your code against certain codecs - e.g. see see [libavcodec-extra](https://sources.debian.net/src/ffmpeg/7:2.8.6-1/debian/control/#L277) as @jbeich earlier pointed out. If you want to fix this you need to re-license to "GPL-2 or later" (which inc

[2016-04-02 14:27] godly-devotion commented on #196
@infinity0 Between making it "version 2 or later" or just "version 3", what do you recommend? Baka MPlayer's license will probably not change but we can change its successor mochi-player's license.

[2016-04-03 12:20] infinity0 commented on #196
@godly-devotion I'd recommend "version 2 or later" because it's more flexible for the future and also matches mpv - but this is just an initial thought, I haven't looked too closely at the details of this situation.

[2016-04-05 05:45] vengigat opened #203 "Polish Translation"
I would like to prepare Baka MPlayer translation into Polish (pl), but I can not understand the instructions. Besides, my os is Windows 10. Can you prepare a file for me to translate? I do not know how to do it.

[2016-04-07 00:59] Kota-Kun opened #204 "build not working on OSX"
kota@iMac ~/Downloads/Baka-MPlayer
➜  brew tap mpv-player/mpv                                                                                       ruby-2.2.2 release ✔
==> Tapping mpv-player/mpv
Cloning into '/usr/local/Library/Taps/mpv-player/homebrew-mpv'...
remote: Counting objects: 3, done.
remote: Compressing objects: 100% (2/2), done.
remote: Total 3 (delta 0), reused 3 (delta 0), pack-reus

[2016-04-07 01:40] u8sand commented on #204
You probably just need to add the libmpv pkgbuild yourself manually. It
gets built by MPV should be  mpv.pc  just need to copy it into your
pkgbuild directory.
On Apr 6, 2016 8:59 PM, "Aleksey" <notifications@github.com> wrote:

[2016-04-07 02:03] Kota-Kun commented on #204
pkgbuild directory.

And where can I get it mpv.pc?

[2016-04-07 02:04] Kota-Kun commented on #204
Can you throw it? Or compile player under mac ?

[2016-04-07 02:30] Kota-Kun commented on #204
Thank you! It worked!

Do not tell about this player:
Project website: http://bomi-player.github.io/
git repository https://github.com/xylosper/bomi

When compiling pops up:

autodetect src/bomi/translations/*.ts
/bin/sh: autodetect: command not found

[2016-04-07 02:33] u8sand commented on #204
I'm glad you got it working!
On Apr 6, 2016 10:30 PM, "Aleksey" <notifications@github.com> wrote:

[2016-04-07 02:34] Kota-Kun commented on #204
True, I was not able to change the localization into Russian :)

[2016-04-07 02:48] Kota-Kun commented on #204
Project website: http://bomi-player.github.io/
git repository https://github.com/xylosper/bomi

?)))

[2016-04-07 02:58] u8sand commented on #204
I'm aware of bomi player's existence, but there are various things that
make it somewhat different from baka mplayer.

I'm not sure I really understand the question.
On Apr 6, 2016 10:48 PM, "Aleksey" <notifications@github.com> wrote:

[2016-04-07 03:08] Kota-Kun commented on #204
I'm sorry, I do not speak English.
I wanted to test both the player and select one. But I could not compile bomi player (
Your player I compiled, but it hangs, and more nothing happens ((Though like as compiled correctly.

As for bomi player:
When you compile error occurs, which I could not overcome:
`autodetect src/bomi/translations/*.ts`
`/bin/sh: autodetect: command not found`

Perhaps you tell

[2016-04-07 03:44] Kota-Kun commented on #204
Can you share ready player under MAC?

[2016-04-07 11:18] vith commented on #152
`baka-mplayer.desktop` should also have a `MimeType` entry so that Baka MPlayer will appear in "Recommended Applications" when choosing "Open With Other Application" on Gnome for example.

https://github.com/mpv-player/mpv/blob/v0.16.0/etc/mpv.desktop#L30

[2016-04-07 11:32] u8sand commented on #204
Actually we recently set up a Mac server for this purpose but have yet to
get around to building baka on it. When we do, I'll certainly pass you a
working build.
On Apr 6, 2016 11:44 PM, "Aleksey" <notifications@github.com> wrote:

[2016-04-23 11:16] yash1610 commented on #134
@u8sand I have a crackling issue with mpv which is fixed by setting `--softvol=yes` in mpv. I tried `"softvol": y` in the mpv section of bakamplayer.ini, but for some reason when I start baka-mplayer it just overwrites the file with defaults(and also clears the recently played items). So what's up with that?

P.S I found this softvol setting from the smplayer default options for mpv which didn't p

[2016-04-30 17:02] u8sand commented on #203
@vengigat Do you have Qt's translation program (Qt Linguist)?

[baka-mplayer_pl.ts.zip](https://github.com/u8sand/Baka-MPlayer/files/243733/baka-mplayer_pl.ts.zip)

[2016-04-30 21:25] vengigat commented on #203
Thanks, that you wanted to help me. No I do not have.

[2016-04-30 22:32] u8sand commented on #203
@vengigat unfortunately, I'm not aware of any way to download Qt Linguist as a standalone application. It comes with Qt Creator ( http://www.qt.io/download-open-source/ )
While I found the Qt Linguist application to be somewhat self explanatory when you start to use it, Qt provides good documentation for all of its components ( http://doc.qt.io/qt-5/qtlinguist-index.html ).

[2016-05-05 15:41] laichiaheng opened #206 "Is there a ppa for Ubuntu 16.04?"

[2016-05-13 21:55] gavsiu commented on #186
I had a little trouble enabling hwdec, but resolved it.

I enabled hwdec for mpv using mpv.conf using vaapi with:

    hwdec=auto
    vo=opengl-hq:deband=no

It did not work with `vo` set in baka-mplayer:

    "mpv": {
        "hwdec": "auto",
        "vo": "opengl-hq:deband=no",

So I left it at the default `"vo": "",`.

[2016-05-17 23:11] ConundrumAdInfinitum opened #207 "a .MOV converted to .MP4 will play with VLC, but not Baka-MPlayer"
I'm scratching my head about this.

the .MOV is original source. the conversion to .MP4 was done with Freemake Video Converter 4.1.9.10, it plays normally in VLC 2.2.2 but not in Baka-MPlayer x86_64 2.0.4-1

[2016-05-19 15:44] u8sand commented on #207
Well to start with, are their any error messages that were outputted when
trying to play it with debugging enabled?
On May 17, 2016 7:11 PM, "ConundrumAdInfinitum" <notifications@github.com>
wrote:

[2016-05-20 00:37] ConundrumAdInfinitum commented on #207
No, no errors.
On May 19, 2016 8:44 AM, "Daniel Clarke" <notifications@github.com> wrote:

[2016-05-20 11:33] wb9688 commented on #207
It's probably a bug in vlc or in mpv…

[2016-05-22 20:34] mc4man commented on #200
Fixed here with libmpv-0.17+git  or 16.04 release. Who knows, doesn't quite matter

[2016-05-22 20:34] #200 closed

[2016-05-26 15:24] xDShot opened #208 ".vtt subtitles"
When I try to add subtitle track into video, the .vtt files are not shown as compatible in Open dialog although mpv supports it. Could you please add support of importing please?

Thanks in advance.

[2016-06-04 05:55] fy0 opened #209 "UI is very small when use high DPI (windows)"
My laptop have an 14 inch screen with 1920x1080 resolution, it's a screenshot:
<img width="914" alt="pic" src="https://cloud.githubusercontent.com/assets/1579850/15797803/ab9c4154-2a56-11e6-9ecb-e8685d647697.png">
Maximized window and baka mplayer (default size).

Awesome project, thanks for your works.

[2016-06-08 02:34] u8sand commented on #209
My DPI is also 1920x1080--the default window size is supposed to be small, mostly to exploit the fit window feature. I'm aware of some open issues requesting that we save the window size as well, it is something that I think I'll do when I get around to running through this issues.

[2016-06-08 07:44] fy0 commented on #209
@u8sand
Buttons is also too small on touch devices. Many windows pad have extreme high dpi, but real screen is small, so buttons is hard to press.

[2016-06-08 10:51] u8sand commented on #209
I see; maybe we should have sizes dependent on the DPI to achieve uniform experience, or perhaps we need another ui made for mobile devices. What do you think @godly-devotion ?

[2016-06-09 14:26] godly-devotion commented on #209
@u8sand I'm reading through the links but most of it is code related. Is there anything I have to do in my end?
Also updating our project to Qt 5.6 should help us as it brings improved support for high-DPI support (https://blog.qt.io/blog/2016/01/26/high-dpi-support-in-qt-5-6/).

[2016-06-09 14:41] #208 closed

[2016-06-09 14:49] xDShot commented on #208
Thank you :)

[2016-06-09 17:12] godly-devotion commented on #208
No problem :)

[2016-06-15 19:30] Geyup opened #211 "Tray Icon Does Nothing?"
Hello,

I compiled 2.0.4 from source, below are my system specs;

Slackware 14.1 x86_64
Openbox 3.6.1
tint2 0.12.11
QT5 5.5.1

When I enable the system tray icon it appears in the tint2 system tray section, but when I click on it, it does nothing. Left & Right clicks nothing, can't minimize to tray, not sure what capability this tray icon has. Maybe it's still in development, or just not working w

[2016-06-15 19:34] Geyup opened #212 "'Show Playlist' Always Appears With Several Videos In Directory"
Hello,

I compiled 2.0.4 from source, below are my system specs;

Slackware 14.1 x86_64
Openbox 3.6.1
tint2 0.12.11
QT5 5.5.1

I noticed that if I have several videos in the same directory, and I pick one, when it starts to play, 'Show Playlist' appears, and is checked in the menu, and all the videos in that directory appear in the 'Show Playlist'

I'm assuming for the moment, the playlist is only

[2016-06-15 19:41] Geyup opened #213 "Problem with DOCS Directory"
Hello,

I compiled 2.0.4 from source, below are my system specs;

Slackware 14.1 x86_64
Openbox 3.6.1
tint2 0.12.11
QT5 5.5.1

This is some of my compile options for Baka-MPlayer that I used in a build script;

mkdir $TMP/$PRGNAM-$VERSION/build
cd $TMP/$PRGNAM-$VERSION/build
qmake-qt5 $TMP/$PRGNAM-$VERSION/src \
MANDIR=/usr/man \
DOCDIR=/usr/doc/$PRGNAM-$VERSION \
CONFIG+=release \
-spec linux-g++

[2016-06-24 14:52] godly-devotion commented on #212
That is the intended behavior. If a file was opened and there are other playable files in the same folder, Baka will display the playlist to show that it has automatically populated the playlist. Conversely, if there are no other files in the same folder, the playlist will hide (but still viewable).

[2016-06-28 02:16] Geyup commented on #212
Hmm to be honest this is the first app I've ever seen act this way. Maybe there are others that take this approach. I've always felt like this is a behviour left to the end-user to decide how it's going to open and dispaly, or not be displayed.

I think this would be good to create a preference for this, for the end-user to pick how they want the playlist to behave, or be viewed, I personally don'

[2016-07-02 14:38] chinese-soup commented on #211
It should toggle play/pause if you have a file loaded (even if playback is stopped using Ctrl-S it should start playing back a file), did you try it with a file opened?

[2016-07-05 00:29] Geyup commented on #211
Sorry I stopped using this, just using mpv by itself...

[2016-07-05 00:29] #211 closed

[2016-07-10 01:19] yash1610 opened #217 "Feature Request: Default volume on startup"
Currently whenever the program starts the volume is set at 100, if you open a file using your file-manager sure enough the program starts at 100% volume deafening me and waking up everyone in the house. I couldn't find an obvious way to change the default volume on startup. Tried putting
`'volume': 30,` in `~/.config/bakamplayer.ini` but that doesn't seem to work, it still starts at full volume.

[2016-07-10 19:05] goetzc commented on #185
Also remembering if the window was maximized or not would be useful.

[2016-07-16 19:00] ErikDavison commented on #217
Getting the same problem. The .ini file seems to be getting read in and updated fine so I don't think its that. I've done a little debugging so far, and I've found that mpv's volume gets updated twice at startup: 1st, to the correct value in .ini, and then again, to 100. I'll try and pin down where this 2nd event is coming from.

[2016-07-18 19:20] ErikDavison commented on #217
After a little more digging I found that the 2nd event was coming after mpv was initialized. I found that
mpvhandler's volume was being loaded by the .ini, however this never got reflected in the actual mpv instance. Thus after initialization mpv was loading a default value of 100.

The patch I've submitted ensures mpvhandler's volume is registered with mpv when there is no playback (such as befor

[2016-07-19 11:35] behroozramezani opened #219 "Add item to bakamplayer.ini"
Why bakamplayer.ini changes to default after add new items. I add "hwdec": "vaapi" to bakamplayer.ini after run player bakamplayer.ini reset to defulat.

[2016-07-19 17:37] ErikDavison commented on #219
Is your .ini file properly formatted? It might be getting rejected, hence defaulting. In each list there should be a comma after every entry minus the last. For example -

    "mpv": {
        "hwdec": "vaapi",
        "msg-level": "trace",
        "screenshot-directory": ".",
        "screenshot-format": "",
        "screenshot-template": "screenshot%#04n",
        "speed": 1,
        "vo": "",

[2016-07-21 04:23] behroozramezani commented on #219
I do that but baka-mplayer rest .ini file to default.

[2016-07-25 17:24] ultravigo opened #220 "suggestion : playlist display optional"
can you make playlist display optional or leave users to decide,it just get annoying when you open a file and it displays entire videos in the folder to playlist automatically

[2016-07-29 12:41] GrandGamer opened #221 "Baka-Mplayer doesn't show image after Qt5 update"
After upgrading my system to Qt 5.7 and setting things up to look ok, I run into [this problem](http://i.imgur.com/FHtsWqe.png). After deleting Baka-Mplayer.ini file in ~/.config the color changed to [this](http://i.imgur.com/5n6CGOb.png). I even tried uninstalling and reinstalling but to no avail.

Audio works fine, default mpv works fine. VLC also seems to work fine.

**EDIT**: This happens only

[2016-07-29 13:01] u8sand commented on #221
Very strange, I believe I'm on qt 5.7 as well but I'm not experiencing
this. Was baka recompiled after the update? Sometimes that has implications.

On Jul 29, 2016 8:42 AM, "GrandGamer" <notifications@github.com> wrote:

[2016-07-29 13:06] GrandGamer commented on #221
It wasn't and as I mentioned in my original post edit, it only occurs with [gtk2 style in qt5ct](http://i.imgur.com/CmBXyuU.png).

[2016-07-31 12:27] xsmile commented on #221
Same issue here with Arch Linux and baka-mplayer 2.0.4-2.

Exporting `QT_QPA_PLATFORMTHEME=qt5ct` and setting `gtk2` in the Qt5 Configuration Tool qt5ct seems to be the cause.

I noticed that the video is visible if hardware acceleration via vaapi is disabled or if vdpau is used instead.

[2016-07-31 17:40] GrandGamer commented on #221
This doesn't seem to be working for me or I'm doing something wrong. How do you choose to use vdpau on Baka-Mplayer?

[2016-07-31 19:57] xsmile commented on #221
@GrandGamer:

See https://wiki.archlinux.org/index.php/Hardware_video_acceleration#Installing_VA-API for details. Also install `libvdpau-va-gl` as the backend for vaapi.

Afterwards you have to edit the file `~/.config/bakamplayer.ini` and set the hwdec and vo options:
[code]

[2016-07-31 20:03] GrandGamer commented on #221
That worked like a charm, thank you!

[2016-07-31 20:03] #221 closed

[2016-08-03 13:27] SEAPUNK commented on #201
I can confirm this issue, BTW. I'm on Arch Linux. Baka-MPlayer 2.0.4.

`ldd /usr/bin/baka-mplayer`
https://gist.github.com/SEAPUNK/827d1068224f38fbac55bd2f62535c9d

[2016-08-04 23:26] ConundrumAdInfinitum commented on #201
Same on Windows 10 Pro x64 FYI

On Wed, Aug 3, 2016 at 6:46 AM, Иван К <notifications@github.com> wrote:

[2016-08-05 00:06] godly-devotion commented on #220
Thak for your input. The option to disable the playlist from automatically showing up will be added in the next incarnation.

[2016-08-07 13:40] suhr opened #222 "Mouse gestures doesn't work"
When you hold the mouse button, mouse cursor turns to hand, but when you move it, it turns back to arrow and nothing happens.

Qt version: 5.8.0

[2016-08-07 13:43] wb9688 commented on #222
It works fine for me…

[2016-08-07 13:44] suhr commented on #222
I'm using git version of baka-mplayer.

[2016-08-07 15:02] u8sand commented on #222
Are you using any unique windows manager and you have gestures enabled in
preferences correct? (The other gesture function is to move your window
around)

On Aug 7, 2016 9:44 AM, "Сухарик" <notifications@github.com> wrote:

[2016-08-07 15:08] suhr commented on #222
Indeed, if I unmaximize the window, gestures drag it.
How do I return old behaviour? I can you wm to move my windows and I don't need a special option for it.

[2016-08-07 15:52] u8sand commented on #222
In preferences you should find a checkbox to enable the vdrag hdrag gesture
functionality.

On Aug 7, 2016 11:08 AM, "Сухарик" <notifications@github.com> wrote:

Indeed, if I unmaximize the window, gestures drag it.
How do I return old behaviour? I can you wm to move my windows and I don't
need a special option for it.

—
You are receiving this because you commented.

Reply to this email directly,

[2016-08-07 15:56] suhr commented on #222
I can't find it. There's only `Use Mouse & Touch Gestures`.

[2016-08-07 15:57] u8sand commented on #222
That's the one, have you checked it?

On Aug 7, 2016 11:56 AM, "Сухарик" <notifications@github.com> wrote:

[2016-08-07 15:58] suhr commented on #222
Yes. If I disable it, nothing changes.

[2016-08-07 16:53] suhr commented on #222
If I hold <kbd>Ctrl</kbd>, I can actually use mouse gestures. But I want to be able to use them without holding <kbd>Ctrl</kbd>.

[2016-08-08 11:29] u8sand commented on #222
So baka doesn't look for the control modifier. I'm thinking it has something to do with your wm. Which wm are you using? It almost sounds as if baka isn't getting the mouse move event--i could see it affecting hover but it should certainly work while being clicked..

[2016-08-08 17:03] suhr commented on #222
i3wm.

[2016-08-08 21:16] godly-devotion commented on #222
Everything will be fixed in the next incarnation :D

[2016-08-13 12:27] WreckedMessiah opened #223 "English language not selectable"
Hi there.

I'm having the issue that I can't select the english language from the options menu.
All languages I can choose are "auto, de, es, fr, hr, it, ko, nl, pt, ru, zh_CN".

If I manually edit the config file and specify "en" as language that works.
However, next time I save any setting in the options menu that entry is of course overwritten with auto or whatever I can pick as language there.

[2016-08-13 15:09] viliampucik commented on #212
I agree with @Geyup. It would be nice if say disabled `Settings -> Show Playlist` option would be preserved across the player restarts and no playlist would be show even for directories containing  playable files.

[2016-08-13 15:13] godly-devotion commented on #212
As mentioned in issue #220, the option to disable the playlist from automatically showing up will be added in the next incarnation.

[2016-08-13 15:16] viliampucik commented on #212
I see now. Thanks @godly-devotion :)

[2016-08-16 01:57] ConundrumAdInfinitum opened #224 "Feedback: Baka-MPlayer doesn't do well with HighDPI displays..."
Hi dev's!

I recently took a peek at Baka-MPlayer on my 8" 1080p (283ppi). The menu and other UI elements were unusably tiny, even with display scaling (custom) larger than 200%.

I was hoping that there may be some kind of configuration setting (for the ini file, etc) that could alleviate this problem, unless it has deeper issues somewhere in the code of the program.

My vote is for good scaling

[2016-08-18 15:26] godly-devotion commented on #224
We will be making a big switch from Qt Widget to Qt Quick controls based project. Qt Quick will allow us to create windows with much better scaling at high DPI displays. It has been in the works for a while but still needs some time. We will let you know.

[2016-08-18 15:27] ConundrumAdInfinitum commented on #224
Hi Joshua thanks for the head's up

Best

On Thu, Aug 18, 2016 at 8:26 AM -0700, "Joshua Park" <notifications@github.com> wrote:

We will be making a big switch from Qt Widget to Qt Quick controls based project. Qt Quick will allow us to create windows with much better scaling at high DPI displays. It has been in the works for a while but still needs some time. We will let you know.

—
You are rec

[2016-08-28 18:29] t33st33r opened #225 "Subtitle Tracks from YouTube are named all the same."
There is no way to know which subtitle track is which one in YouTube's videos.

This picture tells what i mean: http://imgur.com/fe6zw4W
(Contains a link to a video with a lot of subtitle tracks).
Please, fix it.

PS: Excuse my bad english. This is not my native language.

[2016-09-19 10:51] KAMiKAZOW opened #226 "Fullscreen controls not an overlay"
Displaying the playback controls in fullscreen shrinks the video image. It would be better if they were an overlay.

[2016-09-20 22:45] darkbasic commented on #167
I need af=drc=2:0.75 to be able to actually hear DTS tracks with my laptop's built-in speakers, any chance to tell baka to read my mpv.conf file?

[2016-10-11 20:05] biosquid2 opened #227 "Allow logging of console output"
Since the verbosity of mpv can be increased, the addition of a logging option (along with a choice for save location) would be invaluable. The built-in console panel is great for viewing status, but incrementally scrolling through a slew of text can be a hassle.

Absolutely enjoying this project. I hope you all keep it up!

[2016-11-05 20:26] Zeitwaechter opened #229 "baka-mplayer(-git) won't start on Arch Linux"
Dear devs and supporter,

When I execute baka-mplayer in terminal I get the following exception is thrown:

[code]

journalctl states the following, which might help you:

[code]

So, is it on me or does baka-mplayer need an update from your side of the line?

Thank you very much in advance. :)

Kind regards!

[2016-11-05 20:27] u8sand commented on #229
Just saw the post on the AUR; in the process of investigating.

[2016-11-05 20:30] #217 closed

[2016-11-05 21:03] u8sand commented on #229
As a short term solution, downgrade mpv to its previous version v0.20.0. I'm in the process of finding out what has changed, basically mpv is failing to initialize with the new version.

[2016-11-05 21:08] #229 closed

[2016-11-05 21:09] u8sand commented on #229
You may need to recompile mpv for this to work, I found that my mpv itself wouldn't run until I recompiled it. Check by just typing mpv in terminal and making sure it runs.

[2016-11-05 22:10] Zeitwaechter commented on #229
Thank you very much!
Recompiling mpv-git really did help me out.

I really love `baka-mplayer` as it's really suited for watching animes/series.
As I recognize again - besides the name of the app - you seem to be also into it :)
Mushishi, right? :+1:

In the end, thanks again! :)

[2016-11-05 22:18] u8sand commented on #229
Haha yessir. I know it has seemed somewhat dead for a while but we're
working on it behind the scenes ;)
Thank you for bringing the issue to our attention, and for using baka.

On Nov 5, 2016 6:10 PM, "John Doe" <notifications@github.com> wrote:

Thank you very much!
Recompiling mpv-git really did help me out.

I really love baka-mplayer as it's really suited for watching animes/series.
As I recog

[2016-11-05 22:23] Zeitwaechter commented on #229
Thanks for your reply!

Is there any way that I can support your work for which I am really gratefull?
Like donation as I'm more a web developer than anything else.

[2016-11-05 23:03] u8sand commented on #229
For now, your continued usage is more than enough. We are very grateful for
the thought; I'll make sure we get ourselves a donation button on our site
in the near future.

On Nov 5, 2016 6:23 PM, "John Doe" <notifications@github.com> wrote:

[2016-11-08 21:30] Zeitwaechter commented on #229
I'ld also go as far as wearing a t-shirt with your logo and the string "baka" on it.
Fun fact.

Thanks again for your continued support and all of your work!

Keep me posted if there is anything further I can do for you! :)

[2016-11-12 21:02] wb9688 opened #230 "SFTP support on Windows"
Could you please make it possible to play files from a SFTP server on Windows? On Linux, it works fine with plain MPV…

[2016-11-12 21:53] u8sand commented on #230
It works with baka on linux using the location dialog, the only reason I
imagine it might not work is if libssh isn't available on the compiled
windows version.
Can you confirm that using the format `sftp://$user@$host:22/$path` in the
baka location dialog doesn't work?

Sincerely,
Daniel J. B. Clarke

On Sat, Nov 12, 2016 at 4:02 PM, wb9688 <notifications@github.com> wrote:

[2016-11-12 21:55] wb9688 commented on #230
@u8sand: That doesn't work with the official Windows builds of Baka-MPlayer, but it works fine on Linux where I've a libmpv that supports SFTP…

[2016-11-13 00:58] u8sand commented on #230
In that case, it's most likely as I said. I'll try to recompile it for
Windows with the necessary support.

On Nov 12, 2016 4:55 PM, "wb9688" <notifications@github.com> wrote:

@u8sand <https://github.com/u8sand>: That doesn't work with the official
Windows builds of Baka-MPlayer, but it works fine on Linux where I've a
libmpv that supports SFTP…

—
You are receiving this because you were mentione

[2016-11-14 13:08] wb9688 commented on #230
@u8sand: Have you re-compiled it with SFTP support in the mean time? If so, can you share that build? Btw what distro do you use for cross-compiling it for Windows?

[2016-11-14 14:07] u8sand commented on #230
@wb9688: I use ArchLinux and https://github.com/u8sand/baka-build

Though recently most of the relevant AUR packages have been created for the
entire build steps of baka, circular dependencies and aur package
inconsistencies have made it difficult to use.

The build system we use has its downsides, such as the necessity to
completely recompile the entire toolchain when the authors break things.
Su

[2016-11-16 09:24] DeadSix27 opened #231 "Custom toolchain; unable to find libmpv"
Trying to compile this in my custom toolchain, libmpv is compiled like:

`./waf configure --enable-sdl2 --enable-libmpv-static`

However when I configure Baka-MPlayer
I get this error:

"Project ERROR: mpv development package not found"

Config line: (Note I setup a MXE toolchain just to compile QT5 and use a different toolchain for mpv and try to use it for Baka-Mplayer)
[code]
pkg-config finds i

[2016-11-16 12:49] u8sand commented on #231
In the past, the primary issue with pkgbuild was mpv's pkgbuild not being
generated properly.
https://github.com/u8sand/Baka-MPlayer/blob/master/windows/cross-compilation/baka-build.sh#L113-L117

The fact that your pkg-config is working suggests otherwise. Perhaps it has
something to do with an internal path of mxe's qmake. It may be using a
different pkg-config than the one you intend. Ensure you

[2016-11-16 18:56] DeadSix27 commented on #231
@u8sand My paths are what seems to be correct in this situation I think:

[code]

I will look into qmake and whether it has a special env var. for PKG CONFIG (Altho I think I searched that before and couldn't find anything)

[2016-11-19 15:05] amalv opened #232 "Windows MCE Remote stopped working in Ubuntu 16.10"
I've just upgraded Ubuntu from version 16.04 to version 16.10

In Ubuntu 16.04 the remote buttons worked fine and I could assign them to commands through Settings > Preferences > Key bindings.

However after upgrading to Ubuntu 16.10 this has stopped working and the remote no longer works with Baka Mplayer.

I know the remote still works fine since I've installed lirc in order to test it and the r

[2016-11-19 15:31] u8sand commented on #232
If you try to specify the key input and press the button on the remote does
it register in the keyboard input box? If Baka will register them for
assignment it should work, while the name of the key code may have changed.

On Sat, Nov 19, 2016 at 10:05 AM, amalv <notifications@github.com> wrote:

[2016-11-19 15:41] amalv commented on #232
Unfortunately it does not register in the input box (in Ubuntu 16.04 it did and showed the name in the Shortcut box)

![shortcutkey](https://cloud.githubusercontent.com/assets/1252707/20456416/a8378484-ae76-11e6-9038-d56e200c8736.png)

Also out of the box in Ubuntu 16.04 (before configuring any shortcut), the play button was associated with the play_pause command and it worked fine.

[2016-11-19 15:52] u8sand commented on #232
Does this fix work? http://askubuntu.com/questions/787257/media-keys-not-passing-after-upgrade-to-16-04/811454

[2016-11-19 16:04] amalv commented on #232
The fix is for the Microsoft keyboard and not the remote I think. The remote is like this:

![mceremote](https://cloud.githubusercontent.com/assets/1252707/20456565/4aaf28c8-ae79-11e6-9732-f5215e744150.jpg)

Nonetheless I've checked if I had the `joystick` package installed (I did not have it installed), and if there was a file named '51-these-are-not-joysticks-rm.rules' (there wasn't).

I've also

[2016-11-19 16:09] u8sand commented on #232
I see, primarily my concern was that your MediaKeys aren't being registered and we simply use Qt5's key input functionality.  Perhaps it's related to this seemingly unresolved bug, also in a qt5 program, https://bugs.launchpad.net/ubuntu/+source/texmaker/+bug/1386111

[2016-11-22 04:24] u8sand commented on #231
Note that I've recently begun using this forked mxe repo: https://github.com/u8sand/mxe
I've added mpv and baka-mplayer Makefiles to allow mxe to build baka by itself: (make baka-mplayer)

[code]

[2016-11-22 04:32] u8sand commented on #230
I got the release version rebuilt with ssh support (I think), please try it. Unfortunately building the master isn't working for whatever baffling reason, hopefully one which will resolve itself in the near future.

https://dl.dropboxusercontent.com/u/13483445/i686.zip
https://dl.dropboxusercontent.com/u/13483445/x86_64.zip

[2016-11-23 15:56] wb9688 commented on #230
@u8sand: I've tried it, but it gives the error "File couldn't be opened",
while I've typed the path correctly and the permissions are OK.

[2016-11-25 18:10] amalv commented on #232
Thanks for the input, I will try to search info about Qt5 input functionality and fix this.

I've also noticed that the remote in Ubuntu 16.04 also controlled the OS volume and now that is also not working.

So this is not really a problem related to Baka Mplayer, it seems like a general problem, so I think this issue can be closed. Thanks anyways!

[2016-11-25 18:10] #232 closed

[2016-11-26 04:32] tautcony opened #233 "Not displayed correctly under Fedora25"
After I upgraded the system to Fedora25, open a video with baka-mplayer will full-screen display the video at behind which I can not control its size and show a player without image, the playlist/controls work well ont the player.

If I select full-screen in the player, the empty player will cover the image, I've tried to rebuild the player but it still not work correctly.

![baka-mplayer under fe

[2016-11-26 13:16] godly-devotion commented on #233
Fedora 25 switched their windowing system from Xorg to Wayland. That is most likely what is causing the issue.

@u8sand I wonder if mpv's Wayland support is ready.

[2016-11-26 16:29] u8sand commented on #233
Perhaps it's our Wayland support that isn't ready. We may need to call mpv
differently for Wayland (usually we pass a window id to mpv).

I'll install Wayland and investigate this.

On Nov 26, 2016 8:16 AM, "Joshua Park" <notifications@github.com> wrote:

[2016-11-30 11:35] DeadSix27 commented on #231
The main deal being that I do not want to use MXE for MPV, FFMPEG etc, I use a custom toolchain script i forked of ffmpeg helpers, which is highly customized.

What  I tried to do is compile JUST qt5 with mxe ('cuz thats a pain to do..) everything else I compile within my own toolchain.

Now with the last edit of my previous post I figured out how to compile your UI in my toolchain and it works ju

[2016-12-01 12:15] Amitari opened #234 "Screenshot function won'"

[2016-12-03 00:54] godly-devotion commented on #230
According to the logs it says that the protocol was not found.
[code]
Hmm..

[2016-12-04 01:34] SteveJobzniak commented on #204
@u8sand Hi Daniel! Baka looks like a great player. Any progress on the Mac builds?

The build instructions are outdated, so I revised them. I quit when I noticed that the ./configure step also requires the full Xcode to be installed. But this is better than what's on the existing help page:

[code]

Explanation:
- youtube-dl is required for MPV to be able to play video URLs.
- mpv is now in the ma

[2016-12-04 03:47] godly-devotion commented on #204
Thanks @SteveJobzniak! I was able to successfully compile and run Baka. It does freeze when we try to open a video file but we are working on figuring out the issue. We are confident that compiling official builds of Baka (or its successor) for macOS will be pretty close.

[2016-12-04 19:11] SteveJobzniak commented on #204
@godly-devotion Hey Joshua, that's wonderful news. The difference between VLC and mpv is night and day. VLC can't play 4k @ 30 fps on my computer. But mpv can play 4k @ 60 fps. So it does 4k _and_ handles twice the framerate of that.

I'm glad that I decided to try mpv yesterday. I had so much fun. Higher performance than VLC, less choppy stuttering, way faster seeking, frame by frame advance, a-b

[2016-12-07 02:11] ConundrumAdInfinitum opened #235 "Flash Video (.flv) crashing player"
Hi Devs,

Just wanted to report a problem. Baka-MPlayer is crashing when seeking through or when skipping to other videos when I play a folder with .flv files. Other formats seem fine.

[2016-12-07 02:13] ConundrumAdInfinitum commented on #235
Forgot to mention: 64 bit Baka-Mplayer on Windows Pro 64 bit

[2016-12-07 20:11] ConundrumAdInfinitum commented on #235
Why is this closed? I didn't close it, and want to know why .flv files aren't working right

[2016-12-18 06:11] vith opened #237 "Fullscreen mode is overly always-on-top (windows)"
Not sure if this is partially intentional, but it causes some issues.

When you alt-tab, the player no longer has focus but stays on top of everything, including the alt-tab UI. So at that point you can no longer exit fullscreen or tell which window actually has focus.

The only reliable way out of this state I found (other than getting lucky alt-tabbing back to the player) is to Ctrl+Alt+Del. For

[2016-12-18 06:13] vith commented on #237
I should mention I have the `On Top` preference set to `Never`.

[2016-12-18 17:41] u8sand commented on #237
So if I understand correctly: Alt-tab from Full screen mode causes this issue? Does this occur only when the video continues to be played in fullscreen mode?

[2016-12-18 18:16] vith commented on #237
Yes, it only happens in fullscreen mode and the video keeps playing the whole time.

1. start playing video
2. enter fullscreen with keybind
3. alt-tab (can't see the alt-tab UI but it still changes window focus)
4. video is still fullscreen and still playing
5. try to exit fullscreen mode with any of {same keybind, escape key, double click}, doesn't work because player doesn't have focus

[2016-12-18 18:27] u8sand commented on #237
I'm under the impression this might be caused by mpv not paying attention to our window's focus. I imagine  when we move to a shared gl context with mpv this will be resolved. I hate to say that this won't happen today, but rest assured we're working on it.

[2016-12-18 18:50] u8sand commented on #222
I use i3wm as well but I have no issues with gestures (whether in floating or tiling layouts); can you confirm that you're still having issues?

[2016-12-18 18:53] u8sand commented on #226
You seem to be looking for a similar thing as #174
@godly-devotion what do you think about overlays in Fullscreen Mode? I personally don't really like overlays in general--they cover the actual image.

[2016-12-18 18:54] u8sand commented on #174
We'll talk about your second question in #226

[2016-12-18 18:54] #174 closed

[2016-12-18 18:57] u8sand commented on #235
It often does that if a necessary codec isn't available--a side effect of our somewhat messy build process. Are you able to capture the mpv logs for when it fails on those videos?

[2016-12-18 18:58] u8sand commented on #233
This is a part of Wayland Support #188

[2016-12-18 19:03] u8sand commented on #225
These things are populated from mpv, so if mpv fixes the support with youtube-dl it should fix itself.

[2016-12-18 19:03] godly-devotion commented on #225
I know this is an old issue but you still happen to have the link to the video?

[2016-12-18 19:05] u8sand commented on #230
@godly-devotion  https://www.youtube.com/watch?v=Uj3_KqkI9Zo

[2016-12-18 19:08] godly-devotion commented on #226
@u8sand I am for overlayed controls in full screen mode (and optional overlay in normal windowed mode too). Most of the time you don't want the controls to show in full screen mode and you can still use keyboard shortcuts if you want.

[2016-12-18 19:14] #225 closed

[2016-12-18 23:33] KAMiKAZOW commented on #226
The overlay would obviously only be visible when you're moving the mouse. There are several examples of unobtrusive designs in other movie players.

[2017-01-02 17:36] SEAPUNK opened #239 "mpv 0.23.0 support"
I'm not sure if baka-mplayer fully supports mpv 0.23.0, because when I upgraded to that version, various things like the seek bar and the "total time" segment of the time elapsed stopped working.

[2017-01-02 20:39] #239 closed

[2017-01-02 20:43] SEAPUNK commented on #239
Thank you!

[2017-01-02 20:52] u8sand commented on #239
No problem; thanks for reporting it. I've neglected to pay attention to mpv's depreciation notices so a few properties were renamed in the recent versions without me knowing.

[2017-01-05 18:17] konqoro opened #241 "New release?"
Hi, baka-mplayer package in archlinux hasn't been updated for a while.. Would a new release be possible?

[2017-01-06 19:47] godly-devotion commented on #241
We are working on some big changes behind the scenes. Expect a new release in the near future.

[2017-01-08 05:00] sirx opened #242 "Seeking Issue"
I can't seek anymore through the video and I'm on Arch Linux.

I seriously don't know what's the deal with this but I have version 2.0.4

Anyone else experiencing the same?

[2017-01-08 08:44] u8sand commented on #242
This is because mpv has upgraded but Baka hasn't had any major releases.
We're working on one, in the meantime please use baka-mplayer-git

On Jan 8, 2017 5:00 AM, "Sirx" <notifications@github.com> wrote:

[2017-01-09 09:35] sirx commented on #242
Thanks! :3

[2017-01-09 12:10] SteveJobzniak commented on #204
@godly-devotion @u8sand (and @ghost) Woah. I just went to give my mother a Windows mpv frontend and came across Baka again, and saw this:

![preview](https://cloud.githubusercontent.com/assets/22373193/21766076/ab962450-d66c-11e6-8694-eb424ceac0e6.png)

Finally something less technical people can use without me having to tell them 30 different keyboard keys to press. You are doing a wonderful thin

[2017-01-10 04:22] prahulkgp commented on #199
I apologize if I should not be asking this question here but how do I force the player to check for updates through proxy? Thank you.

[2017-01-10 07:27] Love4Taylor commented on #199
I use socks5 but don‘t work
`"ytdl-raw-options": "proxy=socks5://127.0.0.1:1080/"`
![](https://ws1.sinaimg.cn/large/005GmrUUgw1fblkco0cv9j30g704bt9g.jpg)
![](https://ws3.sinaimg.cn/large/005GmrUUgw1fblkdrjohdj30lz04440h.jpg)

[2017-01-10 14:21] u8sand commented on #199
As a workaround, you can probably use proxychains or another related
utility. Those work for all applications.

On Jan 10, 2017 2:27 AM, "Chongwen Huang" <notifications@github.com> wrote:

[2017-01-11 12:48] godly-devotion commented on #241
In the meantime I recommend using the `baka-mplayer-git` AUR.

[2017-01-25 00:14] mixedCase opened #243 "YouTube playlists unsupported"
When passed a YouTube playlist URL, mpv correctly parses it into separate videos. Baka MPlayer does not.

Is this intended behavior for some reason?

[2017-01-26 20:15] #242 closed

[2017-02-02 05:07] interki opened #244 "Option to disable titlebar (windows)"
Feature request, eg. shows mpc-hc 'minimal' interface option.

http://imgur.com/a/4ahfY

[2017-02-02 11:12] 0ion9 opened #245 "Option to disable auto-population of playlist"
**Synopsis**: The auto-population mechanic actively interferes with user selection and ordering of files. even in cases where the desired files are the only ones present in a directory. Awkward workarounds are necessary to obtain a manual ordering and selection. An option that disables auto-population, and inserts exactly and only the files specified in the order specified, is one way to address t

[2017-02-03 19:07] Amitari opened #246 "Playlist without being bound to a specific directory"
Baka-MPlayer needs a normal playlist, sorta like the one in VLC or basically any other media player software. The current one is really cumbersome to use if you're playing videos located in different directories.

[2017-02-19 01:41] lleaff commented on #223
Same bug with 2.0.4 on Linux (Ubuntu 16.10),

[2017-02-19 01:51] Lyle-Tafoya opened #247 "Unable to seek by clicking on seek bar"
**Baka-MPlayer Version:**
2.0.4

**MPV Version:**
mpv 0.24.0 (C) 2000-2017 mpv/MPlayer/mplayer2 projects
 built on Sun Feb 12 12:54:08 CET 2017
ffmpeg library versions:
   libavutil       55.34.101 (runtime 55.34.100)
   libavcodec      57.64.101
   libavformat     57.56.101 (runtime 57.56.100)
   libswscale      4.2.100
   libavfilter     6.65.100
   libswresample   2.3.100
ffmpeg version: 3.2.2

[2017-02-19 15:22] u8sand commented on #247
@Lyle-Tafoya Please use `baka-mplayer-git` from the AUR for the time being. While there hasn't been any major releases, mpv had a few which broke the old version by changing the variable names used for the time. The master branch should be working just fine. We've been working on a major release that should fix all the issues marked with WIP.

[2017-02-19 15:32] Lyle-Tafoya commented on #247
This does indeed seem to solve the problem. Thanks.

[2017-03-08 06:35] snorkellingcactus opened #249 "Missing <math.h> include in src/ui/mainwindow.cpp"
Hi.
  Build fail for me on linux because of ceil beign used on src/ui/mainwindow.cpp.
  If i add <math.h> at the end of the includes it compiles and works fine.
Thanks you.

[2017-03-11 23:12] ConundrumAdInfinitum commented on #235
Hi u8sand,

I haven't checked on this bug report for too long, apologies.

Can you tell me how to set my copy of Baka-MPlayer to generate logs? I'd be happy to capture them and post them so you could figure out the problem with the .flv format playback.

[2017-03-11 23:39] ConundrumAdInfinitum commented on #235
Just gave watching a directory of .flv format files a try.
When seeking through multiple files, via an assigned Keymapping, the player crashes.
The .flv files are good and nothing like an improperly named file extension or anything like that. I have watched them before with no problems.
Also the player crashed when skipping to the next video if I use a key assigned by keymapping.

I'll try to make

[2017-03-24 08:22] dunnodun opened #250 "Show progress while seeking"
#81
I know it was a bug, but I would love to have something likely as a feature while seeking. Currently it only shows "Buffering..." while seeking.

[2017-04-16 19:48] aspera7 opened #251 "Unable to control video quality"
When passing an url to youtube video for example, it doesn't seem possible to control the stream quality. It might be possible via command line, but I couldn't find out how to do so. Any chance for stream quality selector in the GUI?

[2017-04-19 02:23] DjentM opened #252 "right click issue"
how can i right click to play_pause in fullscreen instead of show the menu ? how to set it as my personal keybindings?

[2017-05-03 04:59] ConundrumAdInfinitum commented on #224
https://www.theverge.com/2017/5/2/15520818/verizon-net-neutrality-craig-silliman-truth

[2017-05-03 15:04] #199 closed

[2017-05-04 23:40] Thirsk commented on #251
You need to do it from the config file.
For example, in mine I have `"ytdl-format": "bestvideo[height<=1080]+bestaudio/best",` which means that youtube-dl (the software used to stream) will grab the best video under 1080p, and the best audio track if they're separate.

[2017-05-07 00:09] microchip03 opened #253 "DVD menu functionality?"
It seems that accessing a DVD menu from a VOB file doesn't allow for choosing any of the options. Is there a way to make it work, and if not, will such a feature be added in future versions?

[2017-05-07 06:04] wb9688 commented on #253
What if you enter `dvd://` in the open URL dialog?

[2017-05-07 16:59] microchip03 commented on #253
Oh, it isn't an actual DVD nor mounted, just the files. It doesn't do anything. It works in other players, though.

[2017-05-12 12:36] KennyDiff commented on #204
i want to know how is going on now ? can you build a usable exe from the code ? i can build in macOS ,and it can run ,but when i open a video file , the baka-mplayer hang & freeze... i don't know where's going wrong .